---
layout: default.hbs
title: Chips
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

  <section class="app-tab-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="hca-layout__container--body-content">
          <p class="hca-typography--subhead hca-typography__color--asphalt">Chips represent complex entities in small blocks, such as a contact or a filter.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <nav>
          <span class="hca-typography--subhead">Contents:</span>
          <ul class="app-toc">
            <li class="app-toc__item"><a href="#section-usage">Usage and Behavior</a></li>
            <li class="app-toc__item"><a href="#section-types">Types of Chips</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <article id="section-usage">
    <h2 class="app-article-headline hca-typography--headline">Usage and Behavior</h2>

    <section class="app-section">
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">A chip may contain entities such as a photo, text, rules, an icon, or a contact.</p>
            <p class="hca-typography--body-1">Contact chips may represent contact information in a compact way.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Behavior</span>
            <p class="hca-typography--body-1">Chips may be deleted if they display a delete icon.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/chips/usage-search-filter.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">In this example, chips are being used to filter a search. When using chips as filters, use contrast to differentiate actively selected chips and non-selected chips.</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/chips/usage-contact-chip.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">In this example, chips are being used as contacts.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article id="section-types" class="app-section">
    <h2 class="app-article-headline hca-typography--headline">Types of Chips</h2>
    <div class="row app-section">
      <div class="col-sm-5">
        <div class="hca-layout__container--body-content">
          <p class="hca-typography--body-1">A chip may contain an icon, photo, short title, and brief information.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <span class="hca-typography--body-2">Text-only chips</span>
        <br />
        <figure class="hca-visual-example">
          <img src="{{page.base_url}}images/components/chips/chips-with-text.png" class="img-responsive hca-visual-example__comp" alt="" />
        </figure>
      </div>
      <div class="col-sm-4">
        <span class="hca-typography--body-2">Chips with text and icons</span>
        <br />
        <figure class="hca-visual-example">
          <img src="{{page.base_url}}images/components/chips/chips-text-icon.png" class="img-responsive hca-visual-example__comp" alt="" />
        </figure>
      </div>
      <div class="col-sm-4">
        <span class="hca-typography--body-2">Chips with text and avatar</span>
        <br />
        <figure class="hca-visual-example">
          <img src="{{page.base_url}}images/components/chips/chips-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="" />
        </figure>
      </div>
    </div>
  </article>



  </div>

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-5">
          <nav>
            <span class="hca-typography--subhead">Contents:</span>
            <ul class="app-toc">
              <li class="app-toc__item"><a href="#section-deletable">Deletable Chip</a></li>
              <li class="app-toc__item"><a href="#section-non-deletable">Non-deletable Chip</a></li>
              <li class="app-toc__item"><a href="#section-non-deletable">Chip with Avatar</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section id="section-deletable" class="app-section">
      <h3 class="hca-typography--title">Deletable Chips</h3>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Chip</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 33px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Right: 10px</li>
                    <li class="app-spec-list__item">Left: 15px</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background Color:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Resting: {{> geyser }} at 50% opacity</li>
                    <li class="app-spec-list__item">Focused: {{> asphalt }} at 80% opacity</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Border Radius:</span> 100px
                </li>
              </ul>
              <span class="hca-typography--body-2">Label</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Resting: {{> asphalt }} </li>
                    <li class="app-spec-list__item">Focused: {{> white }}</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered, left aligned
                </li>
              </ul>
              <span class="hca-typography--body-2">Delete/Remove Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Size:</span> 18px by 18px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Color:</span> {{> slate }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered, right aligned
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Left:</span> 10px
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/chips/specs-deletable-chip.png" class="img-responsive hca-visual-example__comp" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      {{!-- /row --}}
    </section>


    <section id="section-non-deletable" class="app-section">
      <h3 class="hca-typography--title">Non-Deletable Chips</h3>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Chip</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 33px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 15px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background Color:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Resting: {{> geyser }} at 50% opacity</li>
                    <li class="app-spec-list__item">Focused: {{> asphalt }} at 80% opacity</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Border Radius:</span> 100px
                </li>
              </ul>
              <span class="hca-typography--body-2">Label</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Resting: {{> asphalt }} </li>
                    <li class="app-spec-list__item">Focused: {{> white }}</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered, left aligned
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/chips/specs-non-deletable-chip.png" class="img-responsive hca-visual-example__comp" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      {{!-- /row --}}
    </section>

    <section id="section-avatar" class="app-section">
      <h3 class="hca-typography--title">Chips with Avatar/Icon</h3>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Chip</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 33px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 15px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background Color:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Resting: {{> geyser }} at 50% opacity</li>
                    <li class="app-spec-list__item">Focused: {{> asphalt }} at 80% opacity</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Border Radius:</span> 100px
                </li>
              </ul>
              <span class="hca-typography--body-2">Label</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span>
                  <ul class="app-spec-list">
                    <li class="app-spec-list__item">Resting: {{> asphalt }} </li>
                    <li class="app-spec-list__item">Focused: {{> white }}</li>
                  </ul>
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered, left aligned
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar/Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Avatar Container:</span> 33px by 33px circle
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Size:</span> 18px by 18px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Color:</span> {{> white }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Container Color:</span> {{> slate }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered, left aligned
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Right:</span> 15px
                </li>
              </ul>
              <span class="hca-typography--body-2">Delete/Remove Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Size:</span> 18px by 18px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Color:</span> {{> slate }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Alignment:</span> Vertically and horizontally centered to container
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Left:</span> 10px
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/chips/specs-avatar-chip.png" class="img-responsive hca-visual-example__comp" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      {{!-- /row --}}
    </section>

  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/cards/" class="hca-button hca-button--has-icon-left">Back to Cards <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/data-tables/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Data Tables <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
