<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCA Design System - {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> styles }}
  </head>

  <body class="{{ page.body_class }} hca-layout--has-app-bar hca-layout--has-drawer">

    {{!-- fixed menu toggle button --}}
    <button class="hca-menu-toggle">
      <span class="material-icons hca-menu-toggle__icon">close</span>
      <span class="hca-menu-toggle__text">Close</span>
    </button>

    {{!-- fixed app bar --}}
    <div class="hca-app-bar hca-app-bar--fixed-top hca-js-app-bar">
      <span class="hca-app-bar__title">HCA Design System (Beta) - {{page.title}}</span>
    </div>

    {{> nav }}

    <header class="app-header hca-js-app-header">
      <div class="container hca-layout__container">
        <h1 class="hca-typography--caption">HCA Design System (Beta)</h1>
        <h2 class="hca-typography--display-2">{{page.title}}</h2>
        {{!-- <div class="hca-layout__container--body-content">
          <p class="hca-typography--body-1">{{page.intro}}</p>
        </div> --}}

        <!-- Standard page tabs -->
        <ul class="nav nav-tabs app-tabs" role="tablist">
          <li role="presentation" class="app-tabs__tab active"><a href="#hca-styleguide-usage-tab" aria-controls="hca-styleguide-usage-tab" role="tab" data-toggle="tab">Guidelines</a></li>
          <li role="presentation" class="app-tabs__tab"><a href="#hca-styleguide-styles-tab" aria-controls="hca-styleguide-specs-tab" role="tab" data-toggle="tab">Styles</a></li>
          <li role="presentation" class="app-tabs__tab"><a href="#hca-styleguide-code-tab" aria-controls="hca-styleguide-code-tab" role="tab" data-toggle="tab">Code</a></li>
        </ul>

      </div>
    </header>

    <main class="container hca-layout__container" role="main">
      {{> body }}
    </main>


    {{> scripts }}
    {{> google-analytics }}

  </body>
</html>
