<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCA Design System - {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> styles }}
  </head>

  <body class="{{ page.body_class }} site-layout--has-app-bar site-layout--has-drawer">

    {{!-- fixed menu toggle button --}}
    <button class="hca-menu-toggle">
      <span class="material-icons hca-menu-toggle__icon">close</span>
      <span class="hca-menu-toggle__text">Close</span>
    </button>

    {{!-- fixed app bar --}}
    <div class="hca-app-bar hca-app-bar--fixed-top hca-js-app-bar">
      <span class="hca-app-bar__title">HCA Design System (Beta) - {{page.title}}</span>
    </div>

    {{> nav }}

    <header class="site-header hca-js-site-header">
      <div class="container site-container">
        <span class="hca-typography--caption">HCA Design System (Beta)</span>
        <h1 class="hca-typography--display-2">{{page.title}}</h1>
        {{!-- <div class="site-container--body-content">
          <p class="hca-typography--body-1">{{page.intro}}</p>
        </div> --}}

      </div>
    </header>

    <main class="container site-container">
      {{> body }}
    </main>


    {{> scripts }}
    {{> google-analytics }}

  </body>
</html>
