---
layout: no-tabs.hbs
title: Dividers
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

  <section class="app-tab-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="hca-layout__container--body-content">
          <p class="hca-typography--subhead hca-typography__color--asphalt">A divider is a thin, lightweight line that can group or separate content in components and layouts.</p>
          <p class="hca-typography--body-1">Dividers help organize page content and hierarchy into individual tiles.</p>
          <p class="hca-typography--body-1">Full-bleed dividers emphasize separate content areas and sections that require more distinct visual separation. Alternatives to full-bleed dividers include white space, subheaders, or inset dividers.</p>
          <p class="hca-typography--body-1">Image-based content in grid lists do not need dividers. Grid lists adequately separate content using white space and subheaders.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <nav>
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-specs">Specs</a></li>
            <li class="app-toc__item"><a href="#section-usage">Usage</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <article id="section-specs" class="app-section">
    <h1 class="app-article-headline hca-typography--headline">Specs</h1>
    <div class="row">
      <div class="col-sm-5">
        <div class="hca-layout__container--body-content">
          <div class="app-card hca-specs">
            <span class="hca-typography--body-2">Divider</span>
            <ul class="hca-typography--body-1">
              <li>
                <span class="hca-typography__color--asphalt">Thickness:</span> 1px
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Color:</span>
                <ul class="app-spec-list">
                  <li class="app-spec-list__item">On light backgrounds: {{> asphalt }} at 25% opacity</li>
                  <li class="app-spec-list__item">On dark backgrounds: {{> white }} at 25% opacity</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article id="section-usage">
    <h1 class="app-article-headline hca-typography--headline">Usage</h1>


    <section class="app-section">
      <div class="row app-section">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Dividers help users understand how content is organized through establishing rhythm and hierarchy on a page. However, a heavy use of dividers can lead to visual noise, and dilute their impact.</p>
            <p class="hca-typography--body-1">Full-bleed dividers emphasize separate content areas and sections, but if such strong divisions are not required, consider using white space, subheaders, or inset dividers.</p>
          </div>
        </div>
      </div>

      <div class="row app-section">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Items without anchors</span>
            <p class="hca-typography--body-1">When lists don’t have an anchoring element, such as an avatar or icon, spacing alone might not be enough to separate tiles. In this case, full-bleed dividers can help create rhythm and separate individual tiles.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--do">
                <img src="{{page.base_url}}images/components/dividers/full-bleed-do.png" class="img-responsive hca-visual-example__comp" alt="Full-bleed dividers separate content with no anchoring element." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Full-bleed dividers separate content with no anchoring element.</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--dont">
                <img src="{{page.base_url}}images/components/dividers/free-content-dont.png" class="img-responsive hca-visual-example__comp" alt="Tooltips do not display rich information. This includes images and formatted text." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Don’t allow list content to live openly, free floating without dividers.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <span class="hca-typography--title">Types of dividers</span>
      <br />
      <div class="row app-section">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Full-bleed dividers</span>
            <p class="hca-typography--body-1">Full-bleed dividers separate distinct content sections (e.g., biographic details from contact information) or distinct content elements (e.g., list items) in both lists and page layouts.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dividers/full-bleed-example.png" class="img-responsive hca-visual-example__comp" alt="Example of full-bleed dividers." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Example of full-bleed dividers.</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--dont">
                <img src="{{page.base_url}}images/components/dividers/overuse-example.png" class="img-responsive hca-visual-example__comp" alt="Overuse of full-bleed dividers creates visual noise and ultimately diminishes the meaning of the dividers." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Overuse of full-bleed dividers creates visual noise and ultimately diminishes the meaning of the dividers.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="row app-section">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Inset dividers</span>
            <p class="hca-typography--body-1">Inset dividers separate related content, such as sections in a list of contacts, doctors or emails in a conversation.</p>
            <p class="hca-typography--body-1">Inset dividers should be used in conjunction with anchoring elements such as icons or avatars aligned with the Title Key Line.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dividers/inset-avatars.png" class="img-responsive hca-visual-example__comp" alt="Example of inset divider with avatars." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Example of inset divider with avatars.</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dividers/inset-content-separater.png" class="img-responsive hca-visual-example__comp" alt="Example of inset dividers separating related content." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Example of inset dividers separating related content.</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--dont">
                <img src="{{page.base_url}}images/components/dividers/inset-dont.png" class="img-responsive hca-visual-example__comp" alt="Inset dividers help cut down on visual noise and should be used with anchor elements, but overuse reduces their meaning." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Inset dividers help cut down on visual noise and should be used with anchor elements, but overuse reduces their meaning.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

    </section>
  </article>
  {{!-- / USAGE article --}}


  </div>

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Intro paragraph(s) here.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <ul class="app-toc">
              <h2 class="hca-typography--subhead">Contents:</h2>
              <li class="app-toc__item"><a href="#section-name">Spec</a></li>
              <li class="app-toc__item"><a href="#section-name">Usage</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/dialogs/" class="hca-button hca-button--has-icon-left">Back to Dialogs <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/lists/" class="hca-button hca-button--has-icon-right hca-typography__color--night">Next: Lists <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
