---
layout: no-tabs.hbs
title: Search
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

  <section class="app-tab-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="hca-layout__container--body-content">
          <p class="hca-typography--subhead hca-typography__color--asphalt">HCA acknowledges search in two different forms: expandable and persistent.</p>
          <p class="hca-typography--body-1">Expandable search occurs when search is one of multiple functions or options in an app, view, or feature. Persistent search occurs when search is the primary function of an app, view, or feature.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <nav>
          <span class="hca-typography--subhead">Contents:</span>
          <ul class="app-toc">
            <li class="app-toc__item"><a href="#section-expandable-search">Expandable Search</a></li>
            <li class="app-toc__item"><a href="#section-persistent-search">Persistent Search</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <article id="section-expandable-search">
    <h2 class="app-article-headline hca-typography--headline">Expandable Search</h2>
    <div class="hca-layout__container--body-content">
      <p class="hca-typography--body-1">Use expandable search when search is not the primary focus of your app.</p>
    </div>
    <section class="app-section">
      <div class="row">
        <div class="col-sm-5">
          <h3 class="hca-typography--title">Small Screens (Mobile)</h3>
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Display a magnifying glass icon in the toolbar instead of a search text box.</p>
            <p class="hca-typography--body-1">Touching the search icon causes the toolbar to transform, clearing other content and displaying a search text field.</p>
            <p class="hca-typography--body-1">The search text field automatically receives focus, and, if needed, the onscreen keyboard will appear. Historical search suggestions can be shown beneath the toolbar. Choosing any of the suggestions submits the query.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/patterns/search/expandable-search-inactive-mobile.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Inactive</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/patterns/search/expandable-search-active-mobile.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Active</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="app-section">
      <div class="row">
        <div class="col-sm-5">
          <h3 class="hca-typography--title">Large Screens (Desktop)</h3>
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Display a smaller text input field with a magnifying glass icon and the word "Search".  Use no less than 115px width for the field.</p>
            <p class="hca-typography--body-1">Clicking the search input causes the toolbar to transform, clearing other content and expanding the search text field full width. If voice search is supported, the microphone icon also appears.</p>
            <p class="hca-typography--body-1">Historical search suggestions can be shown beneath the toolbar. Choosing any of the suggestions submits the query.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/patterns/search/expandable-search-inactive-desktop.png" class="img-responsive hca-visual-example__comp" alt="" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Inactive</figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/patterns/search/expandable-search-desktop-typing.png" class="img-responsive hca-visual-example__comp" alt="" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Active/Typing</figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/patterns/search/expandable-search-desktop-active.png" class="img-responsive hca-visual-example__comp" alt="" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Clear search icon interaction</figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/patterns/search/expandable-search-desktop-results.png" class="img-responsive hca-visual-example__comp" alt="" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">When showing results</figcaption>
          </figure>
        </div>
      </div>

    </section>
  </article>

  <hr />

  <article id="section-persistent-search">
    <h2 class="app-article-headline hca-typography--headline">Persistent Search</h2>
    <section class="app-section">
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">The search text field is presented inside of an inset search box, ready to receive focus.</p>
            <p class="hca-typography--body-1">When in focus, the search field can expand to show historical search suggestions, most frequent searches or suggested results based on user input. If needed, the onscreen keyboard will also appear.</p>
            <p class="hca-typography--body-1">Choosing any of the suggestions submits the search.</p>
            <p class="hca-typography--body-1">As the user enters a query, the search suggestions shift to auto-completion. As the user types, the suggestions are filtered and sorted. Choosing a suggestion or pressing the return key submits the search.</p>
            <p class="hca-typography--body-1">The close (X) icon in the search box clears the query and closes the search.</p>
            <p class="hca-typography--body-1">When displaying submitted search results, the search box remains visible, but is not focused by default. The onscreen keyboard is dismissed so more results can be shown.</p>
            <p class="hca-typography--body-1">Search results are usually displayed as a list, but, on large devices, may be formatted as cards to accommodate different types of results and to offer richer result experiences.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/patterns/search/persistent-search-inactive.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Inactive</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/patterns/search/persistent-search-active.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Active</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/patterns/search/persistent-search-typing.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">While typing</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/patterns/search/persistent-search-results.png" class="img-responsive hca-visual-example__comp" alt="" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">When showing results</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  </div>

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Intro paragraph(s) here.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <ul class="app-toc">
              <h2 class="hca-typography--subhead">Contents:</h2>
              <li class="app-toc__item"><a href="#section-name">Topic</a></li>
              <li class="app-toc__item"><a href="#section-name">List</a></li>
              <li class="app-toc__item"><a href="#section-name">Here</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">

  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}patterns/navigation/" class="hca-button hca-button--has-icon-left">Back to Navigation <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="" class="hca-button hca-button--disabled hca-button--has-icon-right hca-typography__color--night">Next: Coming Soon <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
