---
layout: default.hbs
title: Buttons
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Buttons are fundamental components of any digital UI, and communicate actions that occur when users interact with them.  HCA Design System makes use of three different button types, all with different use cases.</p>

            <p class="hca-typography--subhead hca-typography__color--asphalt">Choose button types wisely to enhance a user's experience by clearly communicating available actions.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <span class="hca-typography--subhead">Contents:</span>
            <ul class="app-toc">
              <li class="app-toc__item"><a href="#section-button-types">Button Types</a></li>
              <li class="app-toc__item"><a href="#section-button-variations">Button Variations</a></li>
              {{!-- <li class="app-toc__item"><a href="#section-button-sizes">Button Sizes</a></li> --}}
              <li class="app-toc__item"><a href="#section-button-placement">Button Placement</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>


    <article id="section-button-types" class="app-section">
      <h2 class="app-article-headline hca-typography--headline">Button Types</h2>
      <div class="row">
        <div class="col-sm-12">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">There are three fundamental button types in our design system.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/flat-button.png" class="img-responsive hca-visual-example__comp" alt="This is a Flat Button." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Flat Button</span>
              <p class="hca-typography--body-1">A button with no background fill by default. Flat buttons fill with color on press, but do not lift in elevation.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/raised-button.png" class="img-responsive hca-visual-example__comp" alt="This is a Raised Button." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Raised Button</span>
              <p class="hca-typography--body-1">A rounded corner button with a filled background that lifts and displays an elevation reaction on focus and press.</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/floating-action-button.png" class="img-responsive hca-visual-example__comp" alt="This is a Floating Action Button." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Floating Action Button</span>
              <p class="hca-typography--body-1">A circular button that lifts and displays an elevation reaction on focus and press.</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="app-section">
        <h3 class="hca-typography--title">Choosing a button type</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">When choosing a button type to use in your design, first consider the primary action of your view or component. It is best to make the most primary action stand out visually among all other options.</p>

              <ul>
                <p class="hca-typography--body-1">Some things to think about as you consider what type of button to use:</p>
                <li>
                  <div class="hca-layout__container--body-content">
                    <h4 class="hca-typography--body-2">Function</h4>
                    <p class="hca-typography--body-1">Is this button the primary action or one of the most primary actions?</p>
                  </div>
                </li>
                <li>
                  <div class="hca-layout__container--body-content">
                    <h4 class="hca-typography--body-2">Dimension</h4>
                    <p class="hca-typography--body-1">When too many elements sit at the same level of elevation, they can lose visual importance. It is best to utilize buttons in a way that highlights the most important actions through elevation. Be conscious of this when choosing between a flat or raised button.</p>
                  </div>
                </li>
                <li>
                  <div class="hca-layout__container--body-content">
                    <h4 class="hca-typography--body-2">Layout</h4>
                    <p class="hca-typography--body-1">Try to use one button type per container in your layout. Utilize different button types in the same container when you need to emphasize one of your actions above the other.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/buttons/button-choice-flat.png" class="img-responsive hca-visual-example__comp" alt="Flat buttons are your default button choice." />
              <figcaption class="hca-visual-example__caption">
                <span class="hca-typography--body-2">Flat Button</span>
                Default button choice</figcaption>
            </figure>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/buttons/button-choice-raised.png" class="img-responsive hca-visual-example__comp" alt="Raised buttons are used for important or primary actions among other less important actions." />
              <figcaption class="hca-visual-example__caption">
                <span class="hca-typography--body-2">Raised Button</span>
                Important or primary action among other less important actions</figcaption>
            </figure>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/buttons/floating-action-button.png" class="img-responsive hca-visual-example__comp" alt="In the event that your entire app or view has one primary action, you can utilize a floating action button to sit above all other options in elevation, thus highlighting it above any other actions." />
              <figcaption class="hca-visual-example__caption">
                <span class="hca-typography--body-2">Floating Action Button</span>
                Primary action of entire view or app</figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="app-section">
        <div class="row">
          <div class="col-sm-4">
            <figure class="hca-visual-example hca-visual-example--mobile">
              <img src="{{page.base_url}}images/components/buttons/button-choice-flat-example.png" class="img-responsive hca-visual-example__comp" alt="Default to using a flat button until there is a need for a more important action to highlight." />
              <figcaption class="hca-visual-example__caption">
                <span class="hca-typography--body-2">Flat Button</span>
                <p class="hca-typography--body-1">Default to using a flat button until there is a need for a more important action to highlight. This card-based interface can have many buttons come into view all with separate contexts for their actions. It would be hard to call out any one button for the primary action in this scenario.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="hca-visual-example hca-visual-example--mobile">
              <img src="{{page.base_url}}images/components/buttons/button-choice-raised-example.png" class="img-responsive hca-visual-example__comp" alt="If/when you have multiple actions available, you can use a raised button to highlight the most important action." />
              <figcaption class="hca-visual-example__caption">
                <span class="hca-typography--body-2">Raised Button</span>
                <p class="hca-typography--body-1">There are multiple actions available on this example of a stepper, but one primary action. You can emphasize primary actions with raised buttons to draw more attention to them.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="hca-visual-example hca-visual-example--mobile">
              <img src="{{page.base_url}}images/components/buttons/button-choice-floating-action-example.png" class="img-responsive hca-visual-example__comp" alt="In the event that your entire view has one primary action, you can utilize a floating action button to sit above all other options in elevation, thus highlighting it above any other actions." />
              <figcaption class="hca-visual-example__caption">
                <span class="hca-typography--body-2">Floating Action Button</span>
                <p class="hca-typography--body-1">In the event that your entire view has one primary action, you can utilize a floating action button to sit above all other elements in elevation, thus highlighting it above all other actions.</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </article>
    {{!-- /BUTTON TYPES article --}}






    <article id="section-button-variations" class="app-section">
      <h2 class="app-article-headline hca-typography--headline">Button Variations</h2>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Each of our three button types can utilize different variations based on their role in your design. By default, all buttons are in grayscale.</p>

            <p class="hca-typography--body-1">There are four core variations that can be applied to any button type to help visually distinguish them or add valuable context: primary, success, warning, and danger.</p>

            <p class="hca-typography--support">NOTE: When creating custom variations, you must make sure you <em>at least</em> adhere to a <a href="http://webaim.org/resources/contrastchecker/" target="_blank">WCAG 2.0 AA accessibility level for visual contrast</a>.</p>
          </div>
        </div>
      </div>

      <h3 class="hca-typography--title">Choosing a button variant</h3>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/button-version-default.png" class="img-responsive hca-visual-example__comp" alt="All buttons are grayscale by default." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Default</span>
              <p class="hca-typography--body-1">All buttons are grayscale by default.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/button-version-primary.png" class="img-responsive hca-visual-example__comp" alt="Use the primary version of a button to emphasize it as a more important action among other default actions." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Primary</span>
              <p class="hca-typography--body-1">Use the primary version of a button to emphasize it as a more important action among other default actions.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/button-version-success.png" class="img-responsive hca-visual-example__comp" alt="Use the success or positive version of a button to emphasize a positive action or an action confirming success." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Success / Positive</span>
              <p class="hca-typography--body-1">Use the success or positive version of a button to emphasize a positive action or an action confirming success.</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/button-version-warning.png" class="img-responsive hca-visual-example__comp" alt="Use the warning version of a button to emphasize when the action is something to be cautious of, even though the user may choose to take it." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Warning / Yield</span>
              <p class="hca-typography--body-1">Use the warning version of a button to emphasize when the action is something to be cautious of, even though the user may choose to take it.</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--mobile">
            <img src="{{page.base_url}}images/components/buttons/button-version-danger.png" class="img-responsive hca-visual-example__comp" alt="Use the danger version of a button to emphasize a destructive or final action that the user cannot undo." />
            <figcaption class="hca-visual-example__caption">
              <span class="hca-typography--body-2">Danger</span>
              <p class="hca-typography--body-1">Use the danger version of a button to emphasize a destructive or final action that the user cannot undo.</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </article>

    <article id="section-button-placement" class="app-section">
      <h2 class="app-article-headline hca-typography--headline">Button Placement</h2>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">If you have multiple actions presented to a user, where one action is affirmative and one action is dismissive, always place the affirmative action to the right of the dismissive action.</p>
            <p class="hca-typography--body-1">This pattern will appear often in <a href="{{page.base_url}}components/dialogs" target="_blank">dialogs</a>.</p>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--do">
                <img src="{{page.base_url}}images/components/buttons/button-placement-do.png" class="img-responsive hca-visual-example__comp" alt="'Discard' is the affirmative action related to this prompt. It is placed to the right of the dismissive action." />
                <figcaption class="hca-visual-example__caption">"Discard" is the affirmative action related to this prompt. It is placed to the right of the dismissive action.</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--dont">
                <img src="{{page.base_url}}images/components/buttons/button-placement-dont.png" class="img-responsive hca-visual-example__comp" alt="Do not place affirmative actions to the left of dismissive actions." />
                <figcaption class="hca-visual-example__caption">Do not place affirmative actions to the left of dismissive actions.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </article>

  </div>
  {{!-- / tab-panel --}}








  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography--asphalt">By default, all buttons should size according to the text/content they contain.</p>
            <p class="hca-typography--body-1">If you are choosing to set your button width based on a container as opposed to their content, the button text/content should stay centered, and button width should never exceed 300px.</p>
            <p class="hca-typography--body-1">Button text/content should never break to a second line. Button text should be kept short and concise. If, for some reason, the text would overflow a single line, you should ellipsis the text and follow it up on your next view.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <span class="hca-typography--subhead">Specs on this tab:</span>
            <ul class="app-toc">
              <li class="app-toc__item"><a href="#section-flat-button-specs">Flat Buttons</a></li>
              <li class="app-toc__item"><a href="#section-raised-button-specs">Raised Buttons</a></li>
              <li class="app-toc__item"><a href="#section-floating-action-button-specs">Floating Action Buttons</a></li>
              <li class="app-toc__item"><a href="#section-large-button-specs">Large Buttons</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section class="app-section">
      <div class="row">
        <div class="col-sm-5">
          <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--do">
            <img src="{{page.base_url}}images/components/buttons/ellipsis-button-text-do.png" class="img-responsive hca-visual-example__comp" alt="Ellipsis button text that overflows the button." />
            <figcaption class="hca-visual-example__caption">Ellipsis button text that overflows the button.</figcaption>
          </figure>
        </div>
        <div class="col-sm-7">
          <figure class="hca-visual-example hca-visual-example--dont">
            <img src="{{page.base_url}}images/components/buttons/button-placement-wide-dont.png" class="img-responsive hca-visual-example__comp" alt="Avoid making buttons wider than about 300px at most." />
            <figcaption class="hca-visual-example__caption">Avoid making buttons wider than about 300px at most.</figcaption>
          </figure>
        </div>
      </div>
    </section>

    <article id="section-flat-button-specs">
      <h2 class="app-article-headline hca-typography--headline">Flat Buttons</h2>
      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Defaults</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Sizing</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 40px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Minimum Width:</span> 90px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Maximum Width:</span> 300px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Border Radius - All Corners:</span> 5px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Spacing</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 15px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Margin - All Sides:</span> 8px
                  </li>
                </ul>
              </div>
            </div>
            {{!-- / defaults specs --}}
          </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-flat-button-defaults.png" class="img-responsive hca-visual-example__comp" alt="Flat Button default specs" />
              {{!-- <figcaption class="hca-visual-example__caption">Default specs for Flat Buttons</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Variants</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Default</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Primary</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> evening }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Success / Positive</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span>{{> ivy }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Caution / Warning</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> hazelnut }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Danger / Error</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> cherry }}
                  </li>
                </ul>
              </div>
          </div>
        </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-flat-button-variants.png" class="img-responsive hca-visual-example__comp" alt="Flat Button states" />
              {{!-- <figcaption class="hca-visual-example__caption">Default and Primary variants of Flat Buttons</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">States</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Focus / Hover</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> 10% opacity of button text color
                  </li>
                </ul>
                <span class="hca-typography--body-2">Pressed</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> 25% opacity of button text color
                  </li>
                </ul>
                <span class="hca-typography--body-2">Disabled</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> None
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text:</span> 50% opacity
                  </li>
                </ul>
              </div>
          </div>
        </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-flat-button-states.png" class="img-responsive hca-visual-example__comp" alt="Flat Button states" />
              <br />
              <figcaption class="hca-visual-example__caption">Default and Primary variants of Flat Buttons in their different states.</figcaption>
            </figure>
          </div>
        </div>

      </section>
    </article>
    {{!-- / flat buttons article --}}

    <article id="section-raised-button-specs">
      <h2 class="app-article-headline hca-typography--headline">Raised Buttons</h2>
      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Defaults</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Sizing</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 40px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Minimum Width:</span> 90px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Maximum Width:</span> 300px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Border Radius - All Corners:</span> 5px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> white }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Spacing</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 15px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Margin - All Sides:</span> 8px
                  </li>
                </ul>
              </div>
            </div>
            {{!-- / defaults specs --}}
          </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-raised-button-defaults.png" class="img-responsive hca-visual-example__comp" alt="Raised Button default specs" />
              {{!-- <figcaption class="hca-visual-example__caption">Default specs for Flat Buttons</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Variants</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Default</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span> {{> cadet }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Primary</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span> {{> evening }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Success / Positive</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span>{{> ivy }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Caution / Warning</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span> {{> hazelnut }}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Danger / Error</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span> {{> cherry }}
                  </li>
                </ul>
              </div>
          </div>
        </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-raised-button-variants.png" class="img-responsive hca-visual-example__comp" alt="Flat Button states" />
              {{!-- <figcaption class="hca-visual-example__caption">Default and Primary variants of Flat Buttons</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">States</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Focus / Hover</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> Add #000000 at 40% opacity to background color (darken)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Shadows:</span> {{> elevation-level-1}}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Pressed</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> Add #000000 at 40% opacity to background color (darken)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Shadows:</span> {{> elevation-level-2}}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Disabled</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> {{> geyser}}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> slate}}
                  </li>
                </ul>
              </div>
          </div>
        </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-raised-button-states.png" class="img-responsive hca-visual-example__comp" alt="Flat Button states" />
              <br />
              <figcaption class="hca-visual-example__caption">Default and Primary variants of Raised Buttons in their different states.</figcaption>
            </figure>
          </div>
        </div>
      </section>
    </article>
    {{!-- / raised buttons article --}}


    <article id="section-floating-action-button-specs">
      <h2 class="app-article-headline hca-typography--headline">Floating Action Buttons</h2>
      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Defaults</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                {{!-- <span class="hca-typography--body-2">Sizing</span> --}}
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 50px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Width:</span> 50px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Border Radius - All Corners:</span> 50%
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Icon Color:</span> {{> white }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Shadows:</span> {{> elevation-level-3 }}
                  </li>
                </ul>
              </div>
            </div>
            {{!-- / defaults specs --}}
          </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-floating-action-buttons.png" class="img-responsive hca-visual-example__comp" alt="Floating Action Button default specs" />
              {{!-- <figcaption class="hca-visual-example__caption">Default specs for Flat Buttons</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Variants</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <p class="hca-typography--body-1">The floating action button can have any color variant due to it's unique role as a single primary action. You can utilize this to stand out among all other UI elements.</p>
                <p class="hca-typography--support">NOTE: Only use an icon/graphic inside a floating action button.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">States</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Focus / Hover</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Width:</span> 55px (10% grow)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 55px (10% grow)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> Add #000000 at 40% opacity to background color (darken)
                  </li>
                </ul>
                <span class="hca-typography--body-2">Pressed</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Width:</span> 55px (10% grow)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 55px (10% grow)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Background Fill:</span> Add #000000 at 40% opacity to background color (darken)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Shadows:</span> {{> elevation-level-4}}
                  </li>
                </ul>
                <span class="hca-typography--body-2">Disabled</span>
                <p class="hca-typography--body-1">You should never have a disabled floating action button. It should only be used for a single most primary action that is always available when the button appears.</p>
              </div>
          </div>
        </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-floating-action-button-states.png" class="img-responsive hca-visual-example__comp" alt="Floating Action Button states" />
              <br />
              <figcaption class="hca-visual-example__caption">Default and Primary variants of Floating Action Buttons in their different states.</figcaption>
            </figure>
          </div>
        </div>
      </section>
    </article>
    {{!-- / floating action buttons article --}}

    <article id="section-large-button-specs">
      <h2 class="app-article-headline hca-typography--headline">Large Buttons</h2>
      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Defaults</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Sizing</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 55px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Minimum Width:</span> 90px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Maximum Width:</span> 300px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> white }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 18px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Spacing</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 25px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Margin - All Sides:</span> 8px
                  </li>
                </ul>
              </div>
            </div>
            {{!-- / defaults specs --}}
          </div>
          <div class="col-sm-7 text-center">
            <figure class="hca-visual-example hca-visual-example--mobile hca-visual-example--margin-top">
              <img src="{{page.base_url}}images/components/buttons/specs-large-button.png" class="img-responsive hca-visual-example__comp" alt="Large Button specs" />
              {{!-- <figcaption class="hca-visual-example__caption">Default specs for Flat Buttons</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">Variants</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <p class="hca-typography--body-1">Large Buttons can utilize all of the same variants as regular buttons: default, primary, success, warning, danger.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="hca-typography--title">States</h3>
            <div class="hca-layout__container--body-content">
              <div class="app-card hca-specs">
                <p class="hca-typography--body-1">Large Buttons utilize all of the same state changes as regular buttons.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    {{!-- / floating action buttons article --}}


  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>





<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}essentials/elevation/" class="hca-button hca-button--has-icon-left">Back to Elevation <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/cards/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Cards <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
