<span class="hca-typography--body-2">
  {{#if no-pallette}}
  {{else}}
    <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--{{color}}"></span>
  {{/if}}
  {{swatch color}}
</span>
<span class="hca-typography__weight--semibold">HEX: </span>{{swatch color 'hex'}} <br />
<span class="hca-typography__weight--semibold">RGB: </span>{{swatch color 'rgb'}}
