---
layout: default.hbs
title: Dialogs
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

  <section class="app-tab-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="hca-layout__container--body-content hca-typography--subhead hca-typography__color--asphalt">
          <p class="hca-typography--subhead hca-typography__color--asphalt">Dialogs can inform users about a specific task, contain critical information, require decisions from the user, or even involve multiple tasks.</p>
          <p class="hca-typography--body-1">Dialogs retain focus at the highest level of <a href="{{page.base_url}}essentials/elevation" target="_blank">elevation</a> until they are dismissed or their required action is taken.</p>
          <p class="hca-typography--body-1">They may contain text and UI controls. </p>
        </div>
      </div>
      <div class="col-sm-4">
        <nav>
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-behavior">Behavior</a></li>
            <li class="app-toc__item"><a href="#section-anatomy">Anatomy</a></li>
            <li class="app-toc__item"><a href="#section-alerts">Alerts</a></li>
            <li class="app-toc__item"><a href="#section-simple-dialogs">Simple Dialogs</a></li>
            <li class="app-toc__item"><a href="#section-confirmation-dialogs">Confirmation Dialogs</a></li>
            <li class="app-toc__item"><a href="#section-full-screen-dialogs">Full-screen Dialogs</a></li>
          </ul>
        </nav>
        <br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <figure class="hca-visual-example hca-visual-example--mobile">
          <img src="{{page.base_url}}images/components/dialogs/device-dialog-example.png" class="img-responsive hca-visual-example__comp" alt="Small screen dialog example" />
          <figcaption class="hca-visual-example__caption hca-typography--caption">A dialog on a small screen</figcaption>
        </figure>
      </div>
      <div class="col-sm-9">
        <figure class="hca-visual-example">
          <img src="{{page.base_url}}images/components/dialogs/large-device-dialog-example.png" class="img-responsive hca-visual-example__comp" alt="Large screen dialog example" />
          <figcaption class="hca-visual-example__caption hca-typography--caption">A dialog on a large screen</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <article id="section-anatomy">
    <h1 class="app-article-headline hca-typography--headline">Behavior</h1>
    <section id="section-anatomy-and-types" class="">
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Beyond standard dialogs</span>
            <p class="hca-typography--body-1">Dialogs are a sub-type of modal windows, and the examples covered here are for standard dialogs. (Other modal window constructions aren’t covered here because they have too much variation, such as branded buttons for purchasing flows, non-standard UI form elements, or unique layouts.)</p>

          </div>
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Reduce interruption</span>
            <p class="hca-typography--body-1">Use dialogs sparingly because they are interruptive. Their sudden appearance forces users to stop their current task and focus on the dialog content. Not every choice, setting, or detail warrants interruption. Alternatives to dialogs include menus or inline expansion, both of which maintain the current context.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Dialog prominence</span>
            <p class="hca-typography--body-1">Dialogs should never be obscured by other elements or appear partially on screen. Dialogs always retain focus until dismissed or a required action has been taken, such as choosing a setting.</p>
            <p class="hca-typography--body-1">Dialogs should avoid:
              <ul class="app-list app-list--bulleted">
                <li class="app-list__item">Opening dialogs from within a dialog</li>
                <li class="app-list__item">Containing scrolling content</li>
              </ul>
            </p>
          </div>
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Full-screen dialog exception</span>
            <p class="hca-typography--body-1">Full-screen dialogs may open additional dialogs, such as pickers, because their design accommodates additional layers of elevation without significantly increasing the app’s perceived z-depth or visual noise.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dialogs/device-dialog-example.png" class="img-responsive hca-visual-example__comp" alt="A standard dialog" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">A standard dialog</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dialogs/full-screen-dialog.png" class="img-responsive hca-visual-example__comp" alt="A full screen dialog" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">A full-screen dialog</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <hr />


  <article id="section-anatomy">
    <h1 class="app-article-headline hca-typography--headline">Anatomy and Types</h1>
    <section id="section-anatomy-and-types" class="">
      <h2 class="hca-typography--title">Anatomy of a Dialog</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Optional Title</span>
            <p class="hca-typography--body-1">Dialogs may have an optional title that concisely describes the type of decision being made. </p>
            <p class="hca-typography--support">NOTE: Titles must always be visible in their entirety. They should not overflow or ellipsis.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Content</span>
            <p class="hca-typography--body-1">Dialog content typically consists of text and/or UI control elements. It is focused on a specific task, such as confirming item deletion or choosing a setting.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Action Bar</span>
            <p class="hca-typography--body-1">Dialogs should always have an action bar that has at least one action that acknowledges/dismisses the dialog, but can contain both affirmative and dismissive actions.</p>
            <p class="hca-typography--support">NOTE: As with all actions presented to a user, affirmative actions are placed directly to the right of dismissive actions. If the actions are stacked, affirmative actions are always placed directly above dismissive actions.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/dialogs/anatomy.png" class="img-responsive hca-visual-example__comp" alt="Anatomy of a Dialog" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Anatomy of a Dialog</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </article>

  <hr />

  <article id="section-alerts">
    <section class="app-section">
      <h2 class="hca-typography--title">Alert Dialogs</h2>
      <div class="row app-section">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Alerts are urgent interruptions, requiring user acknowledgement, that inform the user about a situation.</p>
            <p class="hca-typography--support">NOTE: Alert dialogs have a different use case than Snackbars. Snackbars present optional information after an action, such as confirming the deletion of data. They often allow a user to undo an action that was just taken.</p>
          </div>
        </div>
      </div>

      <div class="app-section">
        <h3 class="hca-typography--body-2">Alerts without title bars</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">Most alerts do not need titles.</p>
              <p class="hca-typography--body-1">They should summarize a decision concisely by either:
                <ul class="app-list app-list--bulleted">
                  <li class="app-list__item">Asking a question (i.e. "Delete this item?")</li>
                  <li class="app-list__item">Making a statement related to the action buttons</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <figure class="hca-visual-example hca-visual-example--do">
                  <img src="{{page.base_url}}images/components/dialogs/alert-no-title.png" class="img-responsive hca-visual-example__comp" alt="Visual example of an Alert with no title" />
                  <figcaption class="hca-visual-example__caption hca-typography--caption">The affirmative action "Discard" describes the outcome of the user's decision.</figcaption>
                </figure>
              </div>
              <div class="col-sm-6">
                <figure class="hca-visual-example hca-visual-example--dont">
                  <img src="{{page.base_url}}images/components/dialogs/alert-no-title-dont.png" class="img-responsive hca-visual-example__comp" alt="Visual example of what NOT to do with an alert" />
                  <figcaption class="hca-visual-example__caption hca-typography--caption">The dismissive action "No" is unclear as to what happens after a user selects it. "Cancel" or "Go back" would be more descriptive.</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <h3 class="hca-typography--body-2">Alerts with title bars</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">Use title bar alerts only for high-risk situations, such as the potential loss of connectivity. Users should be able to understand the choices based on the title and button text alone.</p>
              <p class="hca-typography--body-1">If a title is required:
                <ul class="app-list app-list--bulleted">
                  <li class="app-list__item">Use a clear question or statement with an explanation in the content area, such as "Send health record unencrypted?"</li>
                  <li class="app-list__item">Avoid apologies, ambiguity, or questions, such as “Warning!” or “Are you sure?”</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-6">
                <figure class="hca-visual-example hca-visual-example--do">
                  <img src="{{page.base_url}}images/components/dialogs/alert-with-title.png" class="img-responsive hca-visual-example__comp" alt="Good example of dialog with title" />
                  <figcaption class="hca-visual-example__caption hca-typography--caption">This dialog presents a specific question, provides clear actions, and concisely communicates the impact that the action will have.</figcaption>
                </figure>
              </div>
              <div class="col-sm-6">
                <figure class="hca-visual-example hca-visual-example--dont">
                  <img src="{{page.base_url}}images/components/dialogs/alert-with-title-dont.png" class="img-responsive hca-visual-example__comp" alt="Bad example of dialog with title" />
                  <figcaption class="hca-visual-example__caption hca-typography--caption">This dialog presents an ambiguous question, and its scope of impact is unclear.</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
  {{!-- / ALERTS article --}}

  <hr />

  <article id="section-simple-dialogs">
    <section class="app-section">
      <h2 class="hca-typography--title">Simple Dialogs</h2>
      <div class="row app-section">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Simple Dialogs are called "simple" simply because they only take one action to move on from.</p>
            <p class="hca-typography--body-1">They present multiple options to the user, and close immediately upon the user making their selection. They should only be utilized in scenarios where the user is making a single selection from multiple options, and there is no further exploration to be made about these options.</p>
            <p class="hca-typography--support">NOTE: Simple Dialogs may have a "cancel" button as to provide a clear option for the user to dismiss, but they should not have any confirmation button. The user's selection immediately confirms their choice or executes the action.</p>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/dialogs/simple-dialog.png" class="img-responsive hca-visual-example__comp" alt="Visual example of an Alert with no title" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">A simple dialog</figcaption>
          </figure>
        </div>
      </div>

      <div class="">
        <h3 class="hca-typography--body-2">Text options with varying heights</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">Simple dialogs may present options in a text-only format. These options can vary in height, allowing for line breaking.</p>
              <p class="hca-typography--body-1">It is still best to stay as concise as possible with these options. Try to avoid breaking more than three lines of text.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-2">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/dialogs/simple-dialog-multi-line-text-options.png" class="img-responsive hca-visual-example__comp" alt="A simple dialog with text options that vary in height" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">A simple dialog with text options that vary in height.</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
  </article>
  {{!-- / SIMPLE DIALOGS article --}}

  <hr />

  <article id="section-confirmation-dialogs">
    <section class="">
      <h2 class="hca-typography--title">Confirmation Dialogs</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--body-1">Confirmation Dialogs require the user to confirm their choice before a selection is committed. For example, users can listen to possible notification sounds and then tap "Done" to confirm the choice and close the dialog.</p>
            <p class="hca-typography--body-1">Tapping "Cancel" cancels the action, discards any changes, and closes the dialog.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Avoid dialogs launching dialogs</h3>
            <p class="hca-typography--body-1">Confirmation dialogs should avoid launching additional simple dialogs as they add complexity and increase the elevation.</p>
            <p class="hca-typography--body-1">If more steps are needed to complete the task, consider using full-screen dialogs instead.</p>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/dialogs/confirmation-dialog.png" class="img-responsive hca-visual-example__comp" alt="Confirmation dialog with option selected" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">A confirmation dialog</figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Stacked actions</h3>
            <p class="hca-typography--body-1">Confirmation button text should stay as concise as possible.</p>
            <p class="hca-typography--body-1">If the button width needs to exceed the width available next to the dismissive button, the buttons may become stacked with the confirmation action above the dismissive action.</p>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/dialogs/stacked-actions-dialog.png" class="img-responsive hca-visual-example__comp" alt="A confirmation dialog with stacked actions" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">A confirmation dialog with stacked actions</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </article>
  {{!-- / Confirmation DIALOGS article --}}

  <hr />

  <article id="section-full-screen-dialogs">
    <section class="app-section">
      <h2 class="hca-typography--title">Full-screen Dialogs (Small screen only)</h2>

      <div class="hca-layout__container--body-content">
        <p class="hca-typography--support">NOTE: Due to limited space, full-screen dialogs may be more appropriate for mobile devices than dialogs used on devices with larger screens.</p>
      </div>
      <div class="row app-section">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Usage</h3>
            <p class="hca-typography--body-1">Full-screen dialogs group a series of tasks (such as creating a calendar entry) before they may be committed or discarded. No selections are saved until the affirmative action is touched. Touching "Close" discards all changes and exits the dialog.</p>
            <p class="hca-typography--body-1">Full-screen dialogs enable complex layouts and temporarily reset the app’s perceived elevation to a higher baseline. They allow tasks to launch menus or simple dialogs as part of a complex operation.</p>
            <p class="hca-typography--body-1">Full-screen dialogs may be used for content or tasks that meet any of these criteria:
              <ul class="app-list app-list--bulleted">
                <li class="app-list__item">The dialog includes components (like pickers or form fields) that require an input method editor (IME), such as a keyboard</li>
                <li class="app-list__item">When changes are not saved in real time</li>
                <li class="app-list__item">When there is no draft capability in the app</li>
                <li class="app-list__item">When performing batch operations or queuing changes prior to submitting them</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dialogs/full-screen-dialog.png" class="img-responsive hca-visual-example__comp" alt="A full-screen dialog dialog before input" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">A full-screen dialog dialog before input</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dialogs/full-screen-dialog-enabled.png" class="img-responsive hca-visual-example__comp" alt="The confirmation action becomes enabled once all mandatory fields have been filled." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">The confirmation action becomes enabled once all mandatory fields have been filled.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="row app-section">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Actions</h3>
            <p class="hca-typography--body-1">Place confirmation and dismissive actions for full-screen dialogs at the top of the screen.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Confirmation</h3>
            <p class="hca-typography--body-1">The confirmation action in the top right of the screen uses descriptive verbs, such as: save, add, send, share, update or create. Don’t use vague words for confirming action, such as: done, ok or close.</p>
            <p class="hca-typography--support">NOTE: The confirmation action should be disabled until all mandatory fields in the dialog are met.</p>
          </div>
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Discard</h3>
            <p class="hca-typography--body-1">The discard action (the “Close” at the top left of the screen) closes the full-screen dialog and discards any changes.</p>
            <p class="hca-typography--body-1">Full-screen dialogs may be used for content or tasks that meet any of these criteria:
              <ul class="app-list app-list--bulleted">
                <li class="app-list__item">If no changes have been made, the dialog closes and no discard confirmation is required</li>
                <li class="app-list__item">If the user has made any changes, they are prompted to confirm the discard action</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
              <figure class="hca-visual-example hca-visual-example--do">
                <img src="{{page.base_url}}images/components/dialogs/full-screen-dialog-discard.png" class="img-responsive hca-visual-example__comp" alt="Prompt users to confirm the discard action if they have made any changes." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Prompt users to confirm the discard action if they have made any changes.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="row app-section">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <h3 class="hca-typography--body-2">Titles</h3>
            <p class="hca-typography--body-1">Full-screen dialog titles don’t use dynamic type.</p>
            <p class="hca-typography--body-1">Titles should be succinct. They can wrap to a second line if necessary, and should then be truncated.</p>
            <p class="hca-typography--body-1">If the full-screen dialog uses titles of variable length or anticipates long titles (for example, because certain words are longer in different languages), place title text in the content area of the dialog instead of the app bar.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--dont">
                <img src="{{page.base_url}}images/components/dialogs/variable-length-titles-dont.png" class="img-responsive hca-visual-example__comp" alt="Avoid using variable length titles in full screen dialogs." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Avoid using variable length titles in full-screen dialogs.</figcaption>
              </figure>
            </div>
            <div class="col-sm-6">
              <figure class="hca-visual-example hca-visual-example--do">
                <img src="{{page.base_url}}images/components/dialogs/variable-length-titles-do.png" class="img-responsive hca-visual-example__comp" alt="Place long titles in the content area of a full-screen dialog and use a concise version of the title in the header." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Place long titles in the content area of a full-screen dialog and use a concise version of the title in the header.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
  {{!-- / Full Screen DIALOGS article --}}

  </div>
  {{!-- / usage tab panel --}}

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        {{!-- <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Intro paragraph(s) here.</p>
          </div>
        </div> --}}
        <div class="col-sm-5">
          <nav>
            <ul class="app-toc">
              <h2 class="hca-typography--subhead">Specs on this tab:</h2>
              <li class="app-toc__item"><a href="#specs-standard-dialogs">Standard Dialogs</a></li>
              <li class="app-toc__item"><a href="#specs-full-screen-dialogs">Full-screen Dialogs</a></li>
            </ul>
          </nav>
        </div>
      </div>
      {{!-- <div class="row">
        <div class="col-sm-4">
          <figure class="hca-visual-example hca-visual-example--margin-top">
            <img src="{{page.base_url}}images/components/dialogs/specs-dialog-spacing.png" class="img-responsive hca-visual-example__comp" alt="Placement of standard dialogs" />
            <figcaption class="hca-visual-example__caption">Placement of standard dialogs</figcaption>
          </figure>
        </div>
      </div> --}}
    </section>

    <article id="specs-standard-dialogs" class="app-section">
      <h2 class="hca-typography--title">Standard Dialogs</h2>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Placement and Sizing</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Top and Bottom:</span> Vertically centered, 50px minimum
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Left and Right:</span> Horizontally centered, 15px minimum
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Minimum Width:</span> 290px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Maximum Width:</span> 550px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Border Radius - All Corners:</span> 5px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Shadows:</span> {{> elevation-level-4 }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dialogs/specs-dialog-spacing.png" class="img-responsive hca-visual-example__comp" alt="Placement of standard dialogs" />
                <figcaption class="hca-visual-example__caption">Placement of standard dialogs</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      {{!-- /row --}}
      <div class="row">
        <div class="col-sm-5">
          <div class="app-card hca-specs">
            <span class="hca-typography--body-2">Title and Content Area</span>
            <ul class="hca-typography--body-1">
              <li>
                <span class="hca-typography__color--asphalt">Padding - All Sides:</span> 24px
              </li>
            </ul>
            <span class="hca-typography--body-2">Title</span>
            <ul class="hca-typography--body-1">
              <li>
                <span class="hca-typography__color--asphalt">Font Size:</span> 22px
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Line Height:</span> 32px
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Font Color:</span> {{> asphalt }}
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Padding - Bottom:</span> 20px
              </li>
            </ul>
            <span class="hca-typography--body-2">Text Content</span>
            <ul class="hca-typography--body-1">
              <li>
                <span class="hca-typography__color--asphalt">Font Size:</span> 16px
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Line Height:</span> 26px
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Font Color:</span> {{> cadet }}
              </li>
            </ul>
            <span class="hca-typography--body-2">Action Bar</span>
            <ul class="hca-typography--body-1">
              <li>
                <span class="hca-typography__color--asphalt">Height:</span>
                <ul class="app-spec-list">
                  <li class="app-spec-list__item">60px - inline buttons</li>
                  <li class="app-spec-list__item">110px - stacked buttons</li>
                </ul>
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Padding - All Sides:</span> 10px
              </li>
              <li>
                <span class="hca-typography__color--asphalt">Button spacing:</span> 10px between buttons
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
              <figure class="hca-visual-example hca-visual-example--margin-top">
                <img src="{{page.base_url}}images/components/dialogs/specs-standard-dialog.png" class="img-responsive hca-visual-example__comp" alt="Standard Dialog Specs" />
                <figcaption class="hca-visual-example__caption">A standard confirmation dialog</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
              <figure class="hca-visual-example hca-visual-example--margin-top">
                <img src="{{page.base_url}}images/components/dialogs/specs-stacked-buttons.png" class="img-responsive hca-visual-example__comp" alt="Placement of standard dialogs" />
                <figcaption class="hca-visual-example__caption">Stacked buttons on a standard dialog</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </article>
    {{!-- / Standard Dialogs --}}


    <article id="specs-full-screen-dialogs">
      <h2 class="hca-typography--title">Full-screen Dialogs</h2>
      <div class="row">
        <div class="col-sm-5">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Header App Bar</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 60px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - All sides:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Bottom:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Shadows:</span> {{> elevation-level-1 }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Header Title</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Line Height:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Vertically and horizontally centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Header Buttons</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered, aligned left and right
                </li>
              </ul>
              <span class="hca-typography--body-2">Content Title</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Line Height:</span> 32px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Bottom:</span> 20px
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/dialogs/specs-full-screen-dialog.png" class="img-responsive hca-visual-example__comp" alt="Specs for full-screen dialogs" />
                <figcaption class="hca-visual-example__caption">Full-screen dialogs</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      {{!-- /row --}}
    </article>
  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/cards/" class="hca-button hca-button--has-icon-left">Back to Cards <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/dividers/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Dividers <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
