---
layout: default.hbs
title: Text Fields
base_url: '../../'
---





<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">


  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="hca-styleguide-usage-tab">


    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Text fields usually appear in forms and allow users to input text, select text, and lookup data. Users may enter text, numbers, or mixed-format types of input.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-anatomy">Anatomy</a></li>
            <li class="app-toc__item"><a href="#section-types">Types</a></li>
            <li class="app-toc__item"><a href="#section-general-states">General Interaction States</a></li>
            <li class="app-toc__item"><a href="#section-feedback-states">Feedback Interaction States</a></li>
            <li class="app-toc__item"><a href="#section-required-vs-optional">Required vs Optional Fields</a></li>
            <li class="app-toc__item"><a href="#section-password-fields">Password Fields</a></li>

          </ul>
        </div>
      </div>
    </section>

    <article>
      <h1 class="app-article-headline hca-typography--headline">Anatomy and Types</h1>

      <section id="section-anatomy" class="app-section">
        <h2 class="hca-typography--title">Anatomy of a Text Field</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Label</span>
              <p class="hca-typography--body-1">Labels describe the type of input requested in each field in a concise manner.</p>
              <p class="hca-typography--support">NOTE: HCA Design System requires a visible label for every text field.</p>
            </div>

            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Placeholder Text</span>
              <p class="hca-typography--body-1">Placeholder text is temporary text that appears inside the text field and suggests the type of information requested.</p>
              <p class="hca-typography--support">NOTE: Placeholder text should only be used as a last resort if helper text is already being used and does not suffice for clarifying context to your input.</p>
            </div>

            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Feedback Icon</span>
              <p class="hca-typography--body-1">Feedback icons should appear when validating or giving feedback to the user  about their input. This is commonly in the form of success and error feedback, and is best to be done in real-time while the user is interacting with the field.</p>
            </div>

            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Helper Text</span>
              <p class="hca-typography--body-1">Helper text is optional and appears below text fields to provide additional context. Helper text can be dynamic text such as real-time feedback or validation of error/success.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/text-field-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Text field with label, placeholder text, and helper text with no feedback icon." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Text field prior to feedback icon appearing</figcaption>
            </figure>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/text-field-single-line-with-icon.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Text field with label, placeholder text, and helper text with feedback icon." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Feedback icons can appear/disappear dynamically as needed</figcaption>
            </figure>
          </div>
        </div>
      </section>
      {{!-- / anatomy section --}}

      <section id="section-types" class="app-section">
        <h2 class="hca-typography--title">Types of Text Fields</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Single Line</span>
              <p class="hca-typography--body-1">Single line fields automatically scroll their content to the left as the text input cursor reaches the right edge of the text field.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/text-field-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="text field with label, placeholder text, and helper text." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">A single line text field</figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Multi Line</span>
              <p class="hca-typography--body-1">Multi line text fields automatically break to a new line for overflow text, and will scroll vertically when the cursor reaches the lower edge.</p>
              <p class="hca-typography--support">NOTE: To ensure accessibility, never remove or override any native functionality to resize a multi line text field.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/multi-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Multi line text field with label, placeholder text, and helper text." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">A multi line text field</figcaption>
            </figure>
          </div>
        </div>

      </section>
      {{!-- / types section --}}

    </article>
    {{!-- /anatomy and types --}}

    <article>
      <h1 class="app-article-headline hca-typography--headline">Interaction States</h1>
      <section id="section-general-states" class="app-section">
        <h2 class="hca-typography--title">General Interaction States</h2>
        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Inactive</span>
              <p class="hca-typography--body-1">Inactive text fields are the default state prior to any user interaction.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-inactive-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Inactive single line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Inactive single line text field</figcaption>
            </figure>

            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-inactive-multi-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Inactive multi line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Inactive multi line text field</figcaption>
            </figure>
          </div>
        </div>
        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Focused/Active</span>
              <p class="hca-typography--body-1">The focused or active state occurs while a user is focused on or interacting with the text field.</p>
              <p class="hca-typography--body-1">The border of the field gets a {{> noon }} color while focused/active.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-active-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Active single line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Active single line text field</figcaption>
            </figure>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-active-multi-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Active multi line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Active multi line text field</figcaption>
            </figure>
          </div>
        </div>
        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Disabled</span>
              <p class="hca-typography--body-1">Disabled fields may occur when the user needs to complete a task before filling out the field, or if they do not have the permissions to make changes to the field.</p>
              <p class="hca-typography--body-1">The background of a disabled field is {{> geyser }} and placeholder text (if there is any) is {{> slate }}.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-disabled-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Disabled single line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Disabled single line text field</figcaption>
            </figure>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-disabled-multi-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Disabled multi line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Disabled multi line text field</figcaption>
            </figure>
          </div>
        </div>
      </section>

      <section id="section-feedback-states" class="app-section">
        <h2 class="hca-typography--title">Feedback Interaction States</h2>
        <div class="hca-layout__container--body-content">
          <p class="hca-typography--body-1 hca-typography__color--asphalt">When validating a field for success, error, or any other feedback, it is best to display this feedback in real-time while the user is still interacting with the fields/form.</p>
        </div>
        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Success/Positive</span>
              <p class="hca-typography--body-1">Add a {{> grass }} colored checkmark icon in the right of the field upon succeeding.</p>
              <p class="hca-typography--body-1">Use {{> pine }} colored helper text for an optional success message.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-feedback-success-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Success feedback on a single line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Success feedback on a single line text field.</figcaption>
            </figure>
          </div>
        </div>

        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Error/Danger</span>
              <p class="hca-typography--body-1">Add a {{> strawberry }} colored error icon in the right of the field upon erroring.</p>
              <span class="hca-typography--body-1">The stroke or border color of the field should change to {{> strawberry }} and increase to a thickness of 2px.</span>
              <p class="hca-typography--support">NOTE: Error states are the only state that should increase border weight.</p>
              <p class="hca-typography--body-1">Use {{> cranberry }} colored helper text for a descriptive error message.</p>
              <p class="hca-typography--support">NOTE: The error message should tell the user why the error has occured.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-feedback-error-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Error feedback on a single line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Error feedback on a single line text field.</figcaption>
            </figure>

            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-feedback-error-multi-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Error feedback on a multi line text field." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Error feedback on a multi line text field.</figcaption>
            </figure>
          </div>
        </div>

        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Warning/Yield</span>
              <p class="hca-typography--body-1">Add a {{> butterscotch }} colored warning icon in the right of the field upon warning.</p>
              <p class="hca-typography--body-1">Use {{> mocha }} colored helper text for a descriptive warning message.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/states-feedback-warning-single-line.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Warning feedback on a single line text field" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Warning feedback on a single line text field.</figcaption>
            </figure>
          </div>
        </div>
      </section>

    </article>
    {{!-- / states article --}}


    <article>
      <h1 class="app-article-headline hca-typography--headline">Usage</h1>
      <section id="section-required-vs-optional" class="app-section">
        <h2 class="hca-typography--title">Required vs Optional Fields</h2>
        <br />
        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/text-fields/usage-optional-fields.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Middle Name is the only optional field." />
                    <figcaption class="hca-visual-example__caption hca-typography--caption">Middle Name is the only optional field.</figcaption>
                  </figure>
                </div>
              </div>
              <p class="hca-typography--body-1">If the majority of the form is required, mark the few optional fields with an optional tag in parentheses next to the label.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/text-fields/usage-required-fields.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Date of Birth is the only required field." />
                    <figcaption class="hca-visual-example__caption hca-typography--caption">Date of Birth is the only required field.</figcaption>
                  </figure>
                </div>
              </div>
              <p class="hca-typography--body-1">If the majority of the form is optional, mark the required fields with an asterisk (*) next to the label.</p>
              <p class="hca-typography--support">NOTE: You may also add "Required" as placeholder text to further draw the user to take action on the required field(s).</p>
            </div>
          </div>
        </div>
      </section>
      <section id="section-password-fields" class="app-section">
        <h2 class="hca-typography--title">Password Fields</h2>
        <div class="row app-section">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">Password inputs should be disguised by default. Midline ellipses are used to represent each character of the password being entered. (••••••••)</p>
              <span class="hca-typography--body-2">Show/Hide Password</span>
              <p class="hca-typography--body-1">If you choose to enable/disable visibility for the password being entered, you may use the visibility-off and visibility-on icon paired with "Show" or "Hide" to indicate the action the user will be taking if they interact with it.</p>
              <p class="hca-typography--body-1">This button or actionable toggle should be right-aligned above the password field, and in line with the label to its left.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/text-fields/usage-password-show-hide.png" class="img-responsive hca-visual-example__comp app-card hca-background--white" alt="Password visibility going from it's default hidden state to being shown." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Password visibility going from its default hidden state to being shown.</figcaption>
            </figure>
          </div>
        </div>
      </section>
    </article>


  </div>
  {{!-- / Usage tab panel --}}




  {{!-- SPECS TAB --}}
  <div role="tabpanel" class="tab-pane" id="hca-styleguide-styles-tab">

    <h1 class="app-article-headline hca-typography--headline">Specs</h1>
    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-specs-single-line">Single Line Fields</a></li>
            <li class="app-toc__item"><a href="#section-specs-multi-line">Multi Line Fields</a></li>
            <li class="app-toc__item"><a href="#section-specs-general-interaction">General Interaction States</a></li>
            <li class="app-toc__item"><a href="#section-specs-feedback-interaction">Feedback Interaction States</a></li>
            <li class="app-toc__item"><a href="#section-specs-password-interaction">Password Hide/Show</a></li>
          </ul>
        </div>
      </div>
    </section>

    <article id="section-specs-single-line" class="app-section">
      <h2 class="hca-typography--title">Single Line Fields</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Label</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> cadet }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Top and Bottom:</span> 10px
                </li>
              </ul>
              <span class="hca-typography--body-2">Input Field</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 40px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background Color:</span> {{> white }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Border:</span> 1px {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Corner Radius - All Corners:</span> 5px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Bottom:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 15px
                </li>
              </ul>
              <span class="hca-typography--body-2">Input Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Placeholder Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> cadet }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Helper Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Bottom:</span> 10px
                </li>
              </ul>
              <span class="hca-typography--body-2">Feedback Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Right aligned, vertically centered inside field
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/specs-single-line-field.png" class="img-responsive hca-visual-example__comp" alt="Single line text field specs with label, placeholder text, and helper text." />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Single line field with icon and helper text</figcaption>
          </figure>
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/specs-single-line-no-helper.png" class="img-responsive hca-visual-example__comp" alt="Single line field with no helper text" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Single line field with no helper text</figcaption>
          </figure>
        </div>
      </div>
    </article>


    <article id="section-specs-multi-line" class="app-section">
      <h2 class="hca-typography--title">Multi Line Fields</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Label</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> cadet }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin - Top and Bottom:</span> 10px
                </li>
              </ul>
              <span class="hca-typography--body-2">Input Field</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Minimum Height:</span> 125px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background Color:</span> {{> white }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Border:</span> 1px {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Corner Radius - All Corners:</span> 5px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Bottom:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 15px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Top and Bottom:</span> 10px
                </li>
              </ul>
              <span class="hca-typography--body-2">Input Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Placeholder Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> cadet }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Helper Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Bottom:</span> 10px
                </li>
              </ul>
              <span class="hca-typography--body-2">Feedback Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Top and Right aligned inside field
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/specs-multi-line.png" class="img-responsive hca-visual-example__comp" alt="Multi line text field specs with label, placeholder text, and helper text." />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Multi line field with icon and helper text</figcaption>
          </figure>
        </div>
      </div>
    </article>

    <article id="section-specs-general-interaction" class="app-section">
      <h2 class="hca-typography--title">General Interaction States</h2>
      <div class="hca-layout__container--body-content">
        <p class="hca-typography--body-1">The specs below demonstrate only the changes from the specs of the default states above.</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Active/Focused</span>
            <div class="app-card hca-specs">
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Border Color:</span> {{> noon }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/states-active-single-line.png" class="img-responsive hca-visual-example__comp" alt="Active single line text field" />
            {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Single line field in error state</figcaption> --}}
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Disabled</span>
            <div class="app-card hca-specs">
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Icon:</span> {{> grass }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Helper Text:</span> {{> pine }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/states-disabled-single-line.png" class="img-responsive hca-visual-example__comp" alt="Disabled single line text field" />
            {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption"> Single line field in success state</figcaption> --}}
          </figure>
        </div>
      </div>
    </article>
    {{!-- / general interaction states --}}

    <article id="section-specs-feedback-interaction" class="app-section">
      <h2 class="hca-typography--title">Feedback Interaction States</h2>
      <div class="hca-layout__container--body-content">
        <p class="hca-typography--body-1">The specs below demonstrate only the changes from the specs of the default states above.</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Error/Danger</span>
            <div class="app-card hca-specs">
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Border:</span> 2px {{> strawberry }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon:</span> {{> strawberry }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Helper Text:</span> {{> cranberry }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/states-feedback-error-single-line.png" class="img-responsive hca-visual-example__comp" alt="Error state on single line text field." />
            {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Single line field in error state</figcaption> --}}
          </figure>
          {{!-- <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/states-feedback-error-multi-line.png" class="img-responsive hca-visual-example__comp" alt="Error state on multi line text field." />
            <figcaption class="hca-visual-example__caption hca-typography--caption">Multi line field in error state</figcaption>
          </figure> --}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Success/Positive</span>
            <div class="app-card hca-specs">
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Icon:</span> {{> grass }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Helper Text:</span> {{> pine }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/states-feedback-success-single-line.png" class="img-responsive hca-visual-example__comp" alt="Single line field in success state" />
            {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption"> Single line field in success state</figcaption> --}}
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--body-2">Warning/Yield</span>
            <div class="app-card hca-specs">
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Icon:</span> {{> butterscotch }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Helper Text:</span> {{> mocha }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/states-feedback-warning-single-line.png" class="img-responsive hca-visual-example__comp" alt="Single line field in warning state" />
            {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption"> Single line field in warning state</figcaption> --}}
          </figure>
        </div>
      </div>
    </article>
    {{!-- / feedback interaction states --}}

    <article id="section-specs-password-interaction" class="app-section">
      <h2 class="hca-typography--title">Password Visibility Interaction</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="hca-layout__container--body-content">
            <div class="app-card hca-specs">
                {{!-- <span class="hca-typography--body-2">General</span> --}}
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Top right, in line with Label
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Bottom:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Width:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Padding Left:</span> 5px
                </li>
              </ul>
              <span class="hca-typography--body-2">Visibility Hidden</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Text and Icon Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Visibility Showing</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Text and Icon Color:</span> {{> noon }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/text-fields/specs-password-show-hide.png" class="img-responsive hca-visual-example__comp" alt="Password visibility interaction specs" />
            {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Single line field in error state</figcaption> --}}
          </figure>
        </div>
      </div>
    </article>
  </div>
  {{!-- end specs tab panel --}}
  <div role="tabpanel" class="tab-pane" id="hca-styleguide-code-tab">Coming soon.</div>
  {{!-- end code tab panel --}}
</div>
{{!-- /tab-content --}}
