---
layout: no-tabs.hbs
title: Snackbars
base_url: '../../'
---


<section class="app-tab-header">
  <div class="row">
    <div class="col-sm-8">
      <div class="hca-layout__container--body-content">
        <p class="hca-typography--subhead hca-typography__color--asphalt">Snackbars provide brief feedback about an operation, conveyed through a message at the bottom of the screen.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <span class="hca-typography--subhead">Contents:</span>
      <ul class="app-toc">
        <li class="app-toc__item"><a href="#section-guidelines">Guidelines</a></li>
        <li class="app-toc__item"><a href="#section-specs-large-screen">Specs: Large Screen</a></li>
        <li class="app-toc__item"><a href="#section-specs-small-screen">Specs: Small Screen</a></li>
      </ul>
    </div>
  </div>
</section>

{{!-- Tab panes - tab controls in _layouts/default.hbs  --}}
<div class="tab-content">


  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">


    <article id="section-guidelines">
      <h2 class="app-article-headline hca-typography--headline">Guidelines</h2>

      {{!-- usage section --}}
      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">Snackbars contain a single line of text (except on mobile where a max of two lines is acceptable), directly related to the operation performed. They may contain a text action, but no icons.</p>
              <p class="hca-typography--body-1">Only one snackbar should be displayed at a time.</p>
              <p class="hca-typography--body-1">Snackbars sit at an elevation level above most elements on the screen. They are equal in elevation to the floating action button. However, they are lower in elevation than dialogs, bottom sheets, and navigation drawers.</p>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-4 col-sm-offset-2">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/snackbars/snackbars-usage-example.png" class="img-responsive hca-visual-example__comp" alt=""/>
            </figure>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </section>
      {{!-- / usage section --}}

    </article>
    {{!-- / article --}}

    <hr />

    <article id="section-specs">
      <h2 class="app-article-headline hca-typography--headline">Specs</h2>

      {{!-- snackbars tablet desktop specs --}}
      <section id="section-specs-large-screen" class="app-section">
          <h3 class="hca-typography--title">Large Screens (Tablet/Desktop)</h3>
          <div class="row">
            <div class="col-sm-5">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Snackbar</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 50px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Width:</span>
                    <ul class="app-spec-list">
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Minimum width:</span> 290px
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Maximum width:</span> 575px
                      </li>
                    </ul>
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 25px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span> {{> asphalt }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Border Radius - All Corners:</span> 5px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Message Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> white }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                  </li>
                </ul>
                <span class="hca-typography--body-2">Action Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span>
                    <ul class="app-spec-list">
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Default/Neutral:</span> {{> morning }}
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Positive/Success:</span> {{> grass }}
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Warning/Yield:</span> {{> butterscotch }}
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Danger/Error:</span> {{> watermelon }}
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            {{!-- / col-*-* text content --}}
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-7">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/snackbars/snackbars-tablet-desktop-small.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
                  </figure>
                </div>
              </div>
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/snackbars/snackbars-tablet-desktop-large.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              </figure>
            </div>
            {{!-- /col-*-* visual examples --}}
          </div>
          {{!-- /row --}}
      </section>
      {{!-- / snackbars tablet desktop section --}}


      {{!-- snackbars mobile specs --}}
      <section id="section-specs-small-screen" class="app-section">
          <h3 class="hca-typography--title">Small Screens (Mobile Devices)</h3>
          <div class="row">
            <div class="col-sm-5">
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Snackbar</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Height:</span> 70px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Width:</span> 100% of view width
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Padding - Left and Right:</span> 25px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Background Color:</span> {{> asphalt }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Border Radius - All Corners: </span>5px
                  </li>
                </ul>
                <span class="hca-typography--body-2">Message Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Line Height:</span> 18px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span> {{> white }}
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                  </li>
                </ul>
                <span class="hca-typography--body-2">Action Text</span>
                <ul class="hca-typography--body-1">
                  <li>
                    <span class="hca-typography__color--asphalt">Font Size:</span> 12px
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Font Weight:</span> Semibold (600)
                  </li>
                  <li>
                    <span class="hca-typography__color--asphalt">Text Color:</span>
                    <ul class="app-spec-list">
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Default/Neutral:</span> {{> morning }}
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Positive/Success:</span> {{> grass }}
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Warning/Yield:</span> {{> butterscotch }}
                      </li>
                      <li class="app-spec-list__item">
                        <span class="hca-typography__color--asphalt">Danger/Error:</span> {{> watermelon }}
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            {{!-- / col-*-* text content --}}
            <div class="col-sm-5 col-sm-offset-1">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/snackbars/snackbars-mobile-single-line.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              </figure>
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/components/snackbars/snackbars-mobile-multi-line.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              </figure>
            </div>
            {{!-- /col-*-* visual examples --}}
          </div>
          {{!-- /row --}}
      </section>
      {{!-- / snackbars mobile section --}}
    </article>
    {{!-- / specs article --}}
  </div>
  {{!-- / Usage tab panel --}}








  {{!-- SPECS TAB --}}
  {{!-- <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-4">
        <ul class="app-toc">
          <h2 class="hca-typography--subhead">Topics on this tab:</h2>
          <li class="app-toc__item"><a href="#section-shared-specs">Shared Specs</a></li>
          <li class="app-toc__item"><a href="#section-snackbars-tablet-desktop">Tablet / Desktop</a></li>
          <li class="app-toc__item"><a href="#section-snackbars-mobile">Mobile</a></li>
        </ul>
      </div>
      </div>
    </section>


  </div> --}}
  {{!-- end specs tab panel --}}

  {{!-- <div role="tabpanel" class="tab-pane" id="app-code-tab">Coming soon.</div> --}}
  {{!-- end code tab panel --}}

</div>
{{!-- /tab-content --}}

{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/menus/" class="hca-button hca-button--has-icon-left">Back to Menus <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/tabs/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Tabs <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
