---
layout: default.hbs
title: Snackbars
base_url: '../../'
---

<!-- body_class: 'hca-background--white' -->




<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">


  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">


    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Snackbars provide brief feedback about an operation, conveyed through a message at the bottom of the screen.</p>
            <p class="hca-typography--subhead hca-typography__color--asphalt">Snackbars contain a single line of text (except on mobile where a max of two lines is acceptable), directly related to the operation performed. They may contain a text action, but no icons.</p>
            <p class="hca-typography--subhead hca-typography__color--asphalt">Only one snackbar should be displayed at a time. Each snackbar may contain a single action, neither of which may be “Dismiss” or “Cancel.”</p>
          </div>
        </div>
      </div>
    </section>

    <article>
      <h1 class="app-article-headline hca-typography--headline">Usage</h1>

      {{!-- usage section --}}
      <section class="app-section">
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">Show only one snackbar on screen at a time.</p>
              <p class="hca-typography--body-1">Snackbars sit at an elevation level above most elements on the screen. They are equal in elevation to the floating action button. However, they are lower in elevation than dialogs, bottom sheets, and navigation drawers.</p>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-6">
                <figure class="hca-visual-example">
                  <img src="{{page.base_url}}images/components/snackbars/snackbars-usage-example.png" class="img-responsive hca-visual-example__comp" alt=""/>
                </figure>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </section>
      {{!-- / usage section --}}

    </article>
    {{!-- / article --}}
  </div>
  {{!-- / Usage tab panel --}}








  {{!-- SPECS TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-4">
        <ul class="app-toc">
          <h2 class="hca-typography--subhead">Topics on this tab:</h2>
          <li class="app-toc__item"><a href="#section-shared-specs">Shared Specs</a></li>
          <li class="app-toc__item"><a href="#section-snackbars-tablet-desktop">Tablet / Desktop</a></li>
          <li class="app-toc__item"><a href="#section-snackbars-mobile">Mobile</a></li>
        </ul>
      </div>
      </div>
    </section>


    {{!-- shared specs --}}
    <section id="section-shared-specs" class="app-section">
        <h2 class="hca-typography--title">Shared Specs</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-specs">
              <div class="hca-layout__container--body-content">
                <!-- Sanckbar -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Left padding: 25px</span>
                  <span class="hca-typography--body-1">Right padding: 25px</span>
                  <span class="hca-typography--body-1">Background: Asphalt (#1F2532)</span>
                </p>
                <!-- Snackbar Text -->
                <p class="hca-typography--body-2">Snackbar text
                  <span class="hca-typography--body-1">Open Sans semi-bold: 12px</span>
                  <span class="hca-typography--body-1">Color: White (#FFFFFF)</span>
                  <span class="hca-typography--body-1">Alignment: Left</span>
                </p>
                <!-- Action Text -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Open Sans semi-bold: 12px</span>
                  <span class="hca-typography--body-1">Color: Grass (#26CC6D)</span>
                  <span class="hca-typography--body-1">Alignment: Right</span>
                </p>
              </div>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
        </div>
        {{!-- /row --}}
    </section>
    {{!-- / shared specs section --}}


    {{!-- snackbars tablet desktop specs --}}
    <section id="section-snackbars-tablet-desktop" class="app-section">
        <h2 class="hca-typography--title">Tablet / Desktop</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-specs">
              <div class="hca-layout__container--body-content">
                <!-- Sanckbar -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Height: 50px</span>
                  <span class="hca-typography--body-1">Min width: 290px</span>
                  <span class="hca-typography--body-1">Max width: 575px</span>
                  <span class="hca-typography--body-1">Border radius: 5px</span>
                  <span class="hca-typography--body-1">Left padding: 25px</span>
                  <span class="hca-typography--body-1">Right padding: 25px</span>
                  <span class="hca-typography--body-1">Background: Asphalt (#1F2532)</span>
                </p>
                <!-- Snackbar Text -->
                <p class="hca-typography--body-2">Snackbar text
                  <span class="hca-typography--body-1">Open Sans semi-bold: 12px</span>
                  <span class="hca-typography--body-1">Color: White (#FFFFFF)</span>
                  <span class="hca-typography--body-1">Alignment: Left</span>
                </p>
                <!-- Action Text -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Open Sans semi-bold: 12px</span>
                  <span class="hca-typography--body-1">Color: Butterscotch (#FFB63D)</span>
                  <span class="hca-typography--body-1">Alignment: Right</span>
                </p>
                <!-- Snackbar Positioning -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Centered or left-aligned</span>
                  <span class="hca-typography--body-1">Padding: 50px</span>
                </p>
                <!-- Action Text Colors -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Morning (#E9F3FE)</span>
                  <span class="hca-typography--body-1">Grass (#26CC6D)</span>
                  <span class="hca-typography--body-1">Butterscotch (#FFB63D)</span>
                  <span class="hca-typography--body-1">Watermelon (#FEE7E5)</span>
                </p>
              </div>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/snackbars/snackbars-tablet-desktop-small.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
                  </figure>
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/snackbars/snackbars-tablet-desktop-large.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
    </section>
    {{!-- / snackbars tablet desktop section --}}


    {{!-- snackbars mobile specs --}}
    <section id="section-snackbars-mobile" class="app-section">
        <h2 class="hca-typography--title">Mobile</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-specs">
              <div class="hca-layout__container--body-content">
                <!-- Sanckbar -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Single line height: 50px</span>
                  <span class="hca-typography--body-1">Multi-line height: 70px</span>
                  <span class="hca-typography--body-1">Width: Spans width of device</span>
                  <span class="hca-typography--body-1">Left padding: 25px</span>
                  <span class="hca-typography--body-1">Right padding: 25px</span>
                  <span class="hca-typography--body-1">Background: Asphalt (#1F2532)</span>
                </p>
                <!-- Snackbar Text -->
                <p class="hca-typography--body-2">Snackbar text
                  <span class="hca-typography--body-1">Open Sans semi-bold: 12px</span>
                  <span class="hca-typography--body-1">Color: White (#FFFFFF)</span>
                  <span class="hca-typography--body-1">Alignment: Left</span>
                </p>
                <!-- Action Text -->
                <p class="hca-typography--body-2">Snackbar
                  <span class="hca-typography--body-1">Open Sans semi-bold: 12px</span>
                  <span class="hca-typography--body-1">Color: Grass (#26CC6D)</span>
                  <span class="hca-typography--body-1">Alignment: Right</span>
                </p>
              </div>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/snackbars/snackbars-mobile-single-line.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
                  </figure>
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/snackbars/snackbars-mobile-multi-line.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
    </section>
    {{!-- / snackbars mobile section --}}


  </div>
  {{!-- end specs tab panel --}}

  <div role="tabpanel" class="tab-pane" id="app-code-tab">Coming soon.</div>
  {{!-- end code tab panel --}}

</div>
{{!-- /tab-content --}}

{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/lists/" class="hca-button hca-button--has-icon-left">Back to Lists <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/tabs/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Tabs <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
