---
layout: no-tabs.hbs
title: Expansion Panels
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

    <section class="site-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="site-container--body-content">
            <p class="hca-text--subhead hca-text__color--asphalt">An expansion panel is a lightweight container that can either stand alone or connect to a larger surface, such as a card.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <span class="hca-text--subhead">Contents:</span>
            <ul class="site-toc">
              <li class="site-toc__item"><a href="#section-usage">Usage</a></li>
              <li class="site-toc__item"><a href="#section-specs">Specs</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <article id="section-usage">
      <h2 class="site-article-headline hca-text--headline">Usage</h2>

      <section class="site-section">
        <div class="row">
          <div class="col-sm-5">
            <div class="site-container--body-content">
              <p class="hca-text--body-1">Expansion panels are best suited for mobile devices with small screens to organize content in a way that saves space and enhances the reader's ability to quickly locate key pieces of information.</p>
              <p class="hca-text--body-1">The expanded panel itself should only contain secondary information.  Primary information should never be hidden - in expansion panels or otherwise. Do not use expansion panels to clean up large amounts of information or save page space.  Instead, use them to organize information and provide small areas for editable content.</p>
              <p class="hca-text--body-1">An expansion panel may use a focus or hover state (by highlighting the chevron) to provide focus to individual list items.</p>
              <p class="hca-text--body-1">On a keyboard, users may traverse through list items by using the Tab key.  They may expand and collapse the list items using the Enter (or Return) key.</p>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <figure class="hca-visual-example">
                  <img src="{{page.base_url}}images/components/expansion-panels/expanded-panel.png" class="img-responsive hca-visual-example__comp" alt="" />
                  <figcaption class="hca-visual-example__caption hca-text--caption">A list of panels with one expanded panel</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    {{!-- / article --}}


    <article id="section-specs">
      <h2 class="site-article-headline hca-text--headline">Specs</h2>

      {{!-- tooltips desktop specs --}}
      <section class="site-section">
        <div class="row">

          <div class="col-sm-5">
            <div class="site-card hca-specs">
              <div class="site-container--body-content">
                <span class="hca-text--body-2">Panel Title Area</span>
                <ul class="hca-text--body-1">
                  <li>
                    <span class="hca-text__color--asphalt">Height:</span> 60px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Padding - Right and Left:</span> 20px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Font Size:</span> 16px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Line Height:</span> 26px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Font Weight:</span>
                    <ul class="site-spec-list">
                      <li class="site-spec-list__item">Resting: Regular (400)</li>
                      <li class="site-spec-list__item">Focused/Active: Semibold (600)</li>
                    </ul>
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Text Color:</span> {{> asphalt }}
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Text Alignment:</span> Vertically centered, left aligned
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Background Color:</span> {{> white }}
                  </li>
                </ul>

                <span class="hca-text--body-2">Panel Content Area</span>
                <ul class="hca-text--body-1">
                  <li>
                    <span class="hca-text__color--asphalt">Padding:</span>
                    <ul class="site-spec-list">
                      <li class="site-spec-list__item">Top: 10px</li>
                      <li class="site-spec-list__item">Right, Bottom, and Left: 20px</li>
                    </ul>
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Font Size:</span> 16px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Line Height:</span> 26px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Font Weight:</span> Regular (400)
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Text Color:</span> {{> cadet }}
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Background Color:</span> {{> white }}
                  </li>
                </ul>

                <span class="hca-text--body-2">Icon</span>
                <ul class="hca-text--body-1">
                  <li>
                    <span class="hca-text__color--asphalt">Size:</span> 22px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Font Weight:</span>
                    <ul class="site-spec-list">
                      <li class="site-spec-list__item">Resting: {{> slate }}</li>
                      <li class="site-spec-list__item">Focused/Active: {{> noon }}</li>
                    </ul>
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Alignment:</span> Vertically centered, right aligned
                  </li>
                </ul>

                <span class="hca-text--body-2">Divider</span>
                <ul class="hca-text--body-1">
                  <li>
                    <span class="hca-text__color--asphalt">Thickness:</span> 1px
                  </li>
                  <li>
                    <span class="hca-text__color--asphalt">Color:</span>
                    <ul class="site-spec-list">
                      <li class="site-spec-list__item">On light backgrounds: {{> asphalt }} at 25% opacity</li>
                      <li class="site-spec-list__item">On dark backgrounds: {{> white }} at 25% opacity</li>
                    </ul>
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-5 col-sm-offset-1">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/expansion-panels/specs-collapsed.png" class="img-responsive hca-visual-example__comp" alt=""/>
            </figure>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/components/expansion-panels/specs-expanded.png" class="img-responsive hca-visual-example__comp" alt=""/>
            </figure>
          </div>

        </div>
        {{!-- /row --}}
      </section>
    </article>
  </div>

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="site-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="site-container--body-content">
            <p class="hca-text--subhead hca-text__color--asphalt">Intro paragraph(s) here.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <span class="hca-text--subhead">Contents:</span>
            <ul class="site-toc">
              <li class="site-toc__item"><a href="#section-name">Topic</a></li>
              <li class="site-toc__item"><a href="#section-name">List</a></li>
              <li class="site-toc__item"><a href="#section-name">Here</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    put your content here.
  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="site-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/dividers/" class="hca-button hca-button--has-icon-left">Back to Dividers <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/lists" class="hca-button hca-button--has-icon-right hca-text__color--evening">Next: Lists <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
