---
layout: landing-page.hbs
title: Welcome
body_class: 'site--landing-page'
base_url: ''
---

<br /><br />

<div class="container site-container">
  <div class="row site-section">
    <div class="col-sm-2 col-sm-offset-2">
      <img src="{{page.base_url}}images/site/rocket.png" class="site-homepage-icon" alt="" />
    </div>
    <div class="col-sm-6">
      <div class="site-container--body-content">
        <h2 class="hca-typography--headline">Getting Started</h2>
        <p class="hca-typography--body-1 hca-typography__color--asphalt">This website will serve as the "map" of our design system. As the world of HCA Design System grows, you can count on hcadesignsystem.com to be your source of truth, and to point you in the right direction.</p>
        <a href="{{page.base_url}}essentials/color" class="hca-button hca-button--raised hca-button--evening">Read Guidelines & Specs</a>
        <a href="{{page.base_url}}essentials/color" class="hca-button">Download Sketch UI Kit</a>
      </div>
    </div>
  </div>

  <div class="row site-section">
    <div class="col-sm-2 col-sm-offset-2">
      <img src="{{page.base_url}}images/site/lightbulb.png" class="site-homepage-icon" alt="" />
    </div>
    <div class="col-sm-6">
      <div class="site-container--body-content">
        <h2 class="hca-typography--headline">Collaboration Enabled</h2>
        <p class="hca-typography--body-1 hca-typography__color--asphalt">Inspired and influenced by other design systems such as Google’s <a href="https://material.io/guidelines/" target="_blank">Material Design</a>, Apple's <a href="https://developer.apple.com/design/" target="_blank">Human Interface Guidelines</a>, and IBM's <a href="http://carbondesignsystem.com/" target="_blank">Carbon Design System</a>, HCA Design System establishes a shared theory and mindset not just for designers, but for everyone involved in the creation of HCA digital products. This shared understanding enables seamless collaboration. </p>
      </div>
    </div>
  </div>
  <div class="row site-section">
    <div class="col-sm-2 col-sm-offset-2">
      <img src="{{page.base_url}}images/site/target.png" class="site-homepage-icon" alt="" />
    </div>
    <div class="col-sm-6">
      <div class="site-container--body-content">
        <h2 class="hca-typography--headline">Consistent. Familiar. Purposeful.</h2>
        <p class="hca-typography--body-1">Each component is given purposeful visual and functional intent. This enables a consistent and familiar experience for anyone that encounters HCA digitally.</p>
      </div>
    </div>
  </div>
  <div class="row site-section">
    <div class="col-sm-2 col-sm-offset-2">
      <img src="{{page.base_url}}images/site/mountain.png" class="site-homepage-icon" alt="" />
    </div>
    <div class="col-sm-6">
      <div class="site-container--body-content">
        <h2 class="hca-typography--headline">Commitment to Accessibility</h2>
        <p class="hca-typography--body-1">Each person who has an experience with HCA has distinct needs. Based on <a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0</a> accessibility standards, we strive to create a visual system that is inclusive to every individual.</p>
      </div>
    </div>
  </div>
</div>
{{!-- /container .site-container --}}

<section class="site-landing-page-section hca-background--white">
  <div class="container site-container text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <h2 class="hca-typography--headline">Your Contribution is Critical</h2>
          <p class="hca-typography--body-1">If you have questions, feedback, or suggestions <br /> we'd love to hear from you!</p>
          <a href="{{page.base_url}}forum" class="hca-button">Questions and Feedback</a>
      </div>
    </div>
  </div>
</section>
