<div class="hca-layout__drawer">

  <div class="app-styleguide-brand">

    <svg id="hca-design-system-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 342.32 342.32"><defs><style>.cls-1{fill:#fff;}.cls-2{filter:url(#filter-5);}.cls-3{fill:url(#radial-gradient);}.cls-10,.cls-12,.cls-4,.cls-6,.cls-8{fill:none;}.cls-4{stroke-width:30px;stroke:url(#linear-gradient);}.cls-5{filter:url(#filter-9);}.cls-6{stroke-width:13px;stroke:url(#linear-gradient-2);}.cls-7{filter:url(#filter-12);}.cls-8{stroke-width:5px;stroke:url(#linear-gradient-3);}.cls-9{filter:url(#filter-16);}.cls-10{stroke-width:9px;stroke:url(#linear-gradient-4);}.cls-11{filter:url(#filter-19);}.cls-12{stroke:#f3f7ff;stroke-width:24px;}</style><filter id="filter-5" x="-26.5" y="-15.1" width="153" height="153" name="filter-5"><feOffset result="shadowOffsetOuter1" dy="36" in="SourceAlpha"/><feGaussianBlur result="shadowBlurOuter1" stdDeviation="22" in="shadowOffsetOuter1"/><feComposite result="shadowBlurOuter1" operator="out" in="shadowBlurOuter1" in2="SourceAlpha"/><feColorMatrix values="0 0 0 0 0.69 0 0 0 0 0.72 0 0 0 0 0.82 0 0 0 0.33 0" in="shadowBlurOuter1"/></filter><radialGradient id="radial-gradient" cx="-575.8" cy="955.76" r="0.74" gradientTransform="matrix(135.95, 286.37, 213.54, -101.37, -125729.58, 261794.11)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#415eff"/><stop offset="1" stop-color="#53c0ff"/></radialGradient><linearGradient id="linear-gradient" x1="-576.32" y1="952.58" x2="-575.59" y2="951.97" gradientTransform="matrix(287, 0, 0, -287, 165463.75, 273469.56)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4055ff"/><stop offset="1" stop-color="#52b7ff"/></linearGradient><filter id="filter-9" x="-15.3" y="-46" width="130.7" height="161.3" name="filter-9"><feOffset result="shadowOffsetOuter1" dy="-105" in="SourceAlpha"/><feComposite result="shadowOffsetOuter1" operator="out" in="shadowOffsetOuter1" in2="SourceAlpha"/><feColorMatrix values="0 0 0 0 0.69 0 0 0 0 0.72 0 0 0 0 0.82 0 0 0 0 0" in="shadowOffsetOuter1"/></filter><linearGradient id="linear-gradient-2" x1="-576.68" y1="953" x2="-575.66" y2="951.99" gradientTransform="matrix(329.32, 0, 0, -329.32, 189915.94, 313846.11)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#3023ae"/><stop offset="1" stop-color="#c86dd7"/></linearGradient><filter id="filter-12" x="-16.6" y="-49.7" width="133.1" height="166.2" name="filter-12"><feOffset result="shadowOffsetOuter1" dy="-105" in="SourceAlpha"/><feComposite result="shadowOffsetOuter1" operator="out" in="shadowOffsetOuter1" in2="SourceAlpha"/><feColorMatrix values="0 0 0 0 0.69 0 0 0 0 0.72 0 0 0 0 0.82 0 0 0 0 0" in="shadowOffsetOuter1"/></filter><linearGradient id="linear-gradient-3" x1="-576.47" y1="952.73" x2="-575.74" y2="952.13" gradientTransform="matrix(312, 0, 0, -312, 179909.8, 297323.52)" xlink:href="#linear-gradient"/><filter id="filter-16" x="-17.1" y="-51.2" width="134.2" height="168.3" name="filter-16"><feOffset result="shadowOffsetOuter1" dy="-105" in="SourceAlpha"/><feComposite result="shadowOffsetOuter1" operator="out" in="shadowOffsetOuter1" in2="SourceAlpha"/><feColorMatrix values="0 0 0 0 0.69 0 0 0 0 0.72 0 0 0 0 0.82 0 0 0 0 0" in="shadowOffsetOuter1"/></filter><linearGradient id="linear-gradient-4" x1="-576.39" y1="952.65" x2="-575.66" y2="952.05" gradientTransform="matrix(298.42, 0, 0, -298.42, 172061.53, 284364.11)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00e1ff"/><stop offset="1" stop-color="#52b7ff"/></linearGradient><filter id="filter-19" x="-22.2" y="-21" width="155.3" height="155.3" name="filter-19"><feOffset result="shadowOffsetOuter1" dx="13" dy="16" in="SourceAlpha"/><feGaussianBlur result="shadowBlurOuter1" stdDeviation="19.5" in="shadowOffsetOuter1"/><feColorMatrix values="0 0 0 0 0.02 0 0 0 0 0.11 0 0 0 0 0.25 0 0 0 0.15 0" in="shadowBlurOuter1"/></filter></defs><title>ai-omni</title><g id="mask-21"><circle id="path-20" class="cls-1" cx="171.56" cy="171.56" r="88.78"/></g><g id="mask-18"><circle id="path-17" class="cls-1" cx="171.13" cy="171.13" r="120.3"/></g><g id="mask-15"><circle id="path-14" class="cls-1" cx="171.16" cy="171.16" r="153.71"/></g><g id="mask-11"><circle id="path-10" class="cls-1" cx="171.16" cy="171.16" r="158.5"/></g><g id="mask-8"><circle id="path-7" class="cls-1" cx="171.16" cy="171.16" r="171.16"/></g><g id="mask-4"><circle id="path-3" class="cls-1" cx="171.16" cy="171.16" r="158.5"/></g><g id="Page-1"><g id="Artboard-2"><g id="Combined-Shape-_-Combined-Shape-Mask" data-name="Combined-Shape-+-Combined-Shape-Mask"><g id="Mask"><g class="cls-2"><circle id="path-3-2" data-name="path-3" cx="171.16" cy="171.16" r="158.5"/></g><circle id="path-3-3" data-name="path-3" class="cls-3" cx="171.16" cy="171.16" r="158.5"/><circle class="cls-4" cx="171.16" cy="171.16" r="143.5"/></g><g id="Mask-2" data-name="Mask"><g class="cls-5"><circle id="path-7-2" data-name="path-7" cx="171.16" cy="171.16" r="171.16"/></g><circle id="path-7-3" data-name="path-7" class="cls-1" cx="171.16" cy="171.16" r="171.16"/><circle class="cls-6" cx="171.16" cy="171.16" r="164.66"/></g><g id="Mask-3" data-name="Mask"><g class="cls-7"><circle id="path-10-2" data-name="path-10" cx="171.16" cy="171.16" r="158.5"/></g><circle id="path-10-3" data-name="path-10" class="cls-1" cx="171.16" cy="171.16" r="158.5"/><circle class="cls-8" cx="171.16" cy="171.16" r="156"/></g><g id="Mask-4-2" data-name="Mask"><g class="cls-9"><circle id="path-14-2" data-name="path-14" cx="171.16" cy="171.16" r="153.71"/></g><circle id="path-14-3" data-name="path-14" class="cls-1" cx="171.16" cy="171.16" r="153.71"/><circle class="cls-10" cx="171.16" cy="171.16" r="149.21"/></g></g><g id="Combined-Shape-_-Combined-Shape-Mask-2" data-name="Combined-Shape-+-Combined-Shape-Mask"><g id="Mask-5" data-name="Mask"><g class="cls-11"><circle id="path-17-2" data-name="path-17" cx="171.13" cy="171.13" r="120.3"/></g><circle id="path-17-3" data-name="path-17" class="cls-1" cx="171.13" cy="171.13" r="120.3"/></g></g><g id="Combined-Shape-_-Combined-Shape-Mask-3" data-name="Combined-Shape-+-Combined-Shape-Mask"><circle class="cls-12" cx="171.56" cy="171.56" r="76.78"/></g></g></g></svg>
    <a href="{{page.base_url}}" title="Home">
      <h1 class="hca-typography--headline"><span class="hca-typography__weight--regular app-hca">HCA</span> <span class="hca-typography__weight--light">Design System</span></h1>
    </a>
    <small class="hca-typography--caption">Beta Version 0.1.0</small>
    <small class="hca-typography--support hca-typography--italic">For HCA internal use only</small>
  </div>

  <hr />

  <nav role="navigation" aria-label="Page Navigation" class="hca-list app-drawer-nav js-app-drawer-nav">

    <a href="{{page.base_url}}" class="hca-list__item js-app-drawer-nav__item">Get Started</a>

    <dl>
      <dt>
        <a href="#hca-drawer-nav__item--essentials" class="hca-list__item js-app-drawer-nav__expansion-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="hca-drawer-nav__item--essentials">Essentials <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <div class="collapse " id="hca-drawer-nav__item--essentials">
        <dd>
          <a href="{{page.base_url}}essentials/color" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Color">Color</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}essentials/typography" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Typography">Typography</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}essentials/iconography" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Iconography">Iconography</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}essentials/elevation" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Elevation and Shadows">Elevation</a>
        </dd>
      </div>
    </dl>

    <dl>
      <dt>
        <a href="#hca-drawer-nav__item--components" class="hca-list__item js-app-drawer-nav__expansion-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="hca-drawer-nav__item--components">Components<span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <div class="collapse" id="hca-drawer-nav__item--components">
        <dd>
          <a href="{{page.base_url}}components/buttons" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Buttons">Buttons</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/cards" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Cards">Cards</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/chips" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Chips">Chips</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/data-tables" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Data Tables">Data Tables</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/dialogs" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Dialogs">Dialogs</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/dividers" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Dividers">Dividers</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/expansion-panels" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Expansion Panels">Expansion Panels</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/lists" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Lists">Lists</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/menus" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Menus">Menus</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/snackbars" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Snackbars">Snackbars</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/tabs" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Tabs">Tabs</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/text-fields" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Text Fields">Text Fields</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}components/tooltips" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Tooltips">Tooltips</a>
        </dd>
      </div>
    </dl>
    <dl>
      <dt>
        <a href="#hca-drawer-nav__item--patterns" class="hca-list__item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="hca-drawer-nav__item--patterns">Patterns <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <div class="collapse" id="hca-drawer-nav__item--patterns">
        <dd>
          <a href="{{page.base_url}}patterns/navigation" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Navigation">Navigation</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}patterns/search" class="hca-list__item hca-list__item--nested js-app-drawer-nav__item" title="Search">Search</a>
        </dd>
      </div>
    </dl>

    <a href="{{page.base_url}}forum/index.html" class="hca-list__item js-app-drawer-nav__item" title="Questions and Feedback">Questions and Feedback</a>

    {{!-- <a href="#" class="hca-list__item js-app-drawer-nav__item">Downloads</a> --}}

  </nav>
  {{!-- //hca-navigation --}}

  <hr />

  <div class="app-nav-footer-cc">
    <p class="hca-typography--caption">HCA Design System is created and maintained by HCA IT&amp;S Innovation and Experience team. &copy; 2017</p>
  </div>

</div>
{{!-- //layout__drawer --}}
