---
layout: default.hbs
title: Lists
base_url: '../../'
---

<!-- body_class: 'hca-background--white' -->




<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">


  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="hca-styleguide-usage-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">A list consists of a single continuous column of elements that are repeated vertically, without any gaps or spaces between them, of equal width called rows, which function as containers for tiles.</p>
            <p class="hca-typography--subhead hca-typography__color--asphalt">Tiles hold content, and can vary in height within a list.</p>
            <p class="hca-typography--subhead hca-typography__color--asphalt">Lists are best suited to presenting data of the same kind or sets of data types, such as images and text. They are optimized for reading comprehension while differentiating between similar data types.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">                
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/lists/lists-visual-wireframe.png" class="img-responsive hca-visual-example__comp" alt="A visual wireframe of a list, showing what a tile and panel are." />
          </figure>                                  
        </div>
        <div class="col-sm-12">                
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/lists/lists-visual-example.png" class="img-responsive hca-visual-example__comp" alt="A visual example of a list." />
          </figure>                                  
        </div>
      </div>
    </section>

  </div>
  {{!-- / Usage tab panel --}}



  {{!-- SPECS TAB --}}
  <div role="tabpanel" class="tab-pane" id="hca-styleguide-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-4">
        <ul class="app-toc">
          <h2 class="hca-typography--subhead">Topics on this tab:</h2>
          <li class="app-toc__item"><a href="#section-shared-specs">Shared Specs</a></li>
          <li class="app-toc__item"><a href="#section-single-line-lists">Single Line Lists</a></li>
          <li class="app-toc__item"><a href="#section-two-line-lists">Two Line Lists</a></li>
          <li class="app-toc__item"><a href="#section-three-line-lists">Three Line Lists</a></li>
        </ul>
      </div>
      </div>
    </section>



    {{!-- shared specs --}}
    <section id="section-shared-specs" class="app-section">
        <div class="app-card">                
          <h2 class="hca-typography--title">Shared Specs</h2>
          <h3 class="hca-typography--body-1">Specs that are shared by all variations of lists</h3>
          <div class="row">
            <div class="col-sm-4">
              <div class="app-card hca-background--geyser">            
                <div class="hca-layout__container--body-content">
                  <p class="hca-typography--body-2">Primary Font:
                    <span class="hca-typography--body-1">Open Sans Semi-Bold 12px</span>
                    <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                  </p>
                  <p class="hca-typography--body-2">Padding:
                    <span class="hca-typography--body-1">Left padding: 20px</span>
                    <span class="hca-typography--body-1">Right padding: 20px</span>
                  </p>
                  <p class="hca-typography--body-2">Margin:
                    <span class="hca-typography--body-1">Top margin: 10px</span>
                    <span class="hca-typography--body-1">Bottom margin: 10px</span>
                  </p>
                  <p class="hca-typography--body-2">Text Positioning:
                    <span class="hca-typography--body-1">Centered Vertically</span>
                  </p>
                </div>
              </div>  
            </div>
            {{!-- / col-*-* text content --}}
          </div>
          {{!-- /row --}}
          <div class="row">
            <div class="col-sm-5">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-1">Add 10px of margin at the top and bottom of a list, except for lists with subheaders, which have their own padding.</p>
                <p class="hca-typography--body-1">Bottom padding is measured from the baseline.</p>
              </div>
            </div>
            {{!-- / col-*-* text content --}}          
          </div>
          {{!-- /row --}}
        </div>
        {{!-- /app-card --}}
    </section>
    {{!-- / shared specs section --}}


    <hr>


    {{!-- single line lists specs --}}
    <section id="section-single-line-lists" class="app-section">
      <div class="app-card">  
        <h2 class="hca-typography--title">Single Line Lists</h2> 

        {{!-- single line list (text only) --}}       
        <h3 class="hca-typography--body-2">Single line list specs (text only)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">50px</span>
                </p>
                <p class="hca-typography--body-2">Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                  <span class="hca-typography--body-1">Right padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}



      {{!-- single line list (text + icon) --}}
      <div class="app-card"> 
        <h3 class="hca-typography--body-2">Single line list specs (text + icon)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">60px</span>
                </p>
                <p class="hca-typography--body-2">Icon Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
                <p class="hca-typography--body-2">Icon spacing:
                  <span class="hca-typography--body-1">Container: 30px</span>
                  <span class="hca-typography--body-1">Icon size: 22px</span>
                  <span class="hca-typography--body-1">Padding: 4px</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text-icon.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text plus icon example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}  


      {{!-- single line list (text + avatar) --}}
      <div class="app-card"> 
        <h3 class="hca-typography--body-2">Single line list specs (text + avatar)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">60px</span>
                </p>
                <p class="hca-typography--body-2">Avatar Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text plus avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}  


      {{!-- single line list (text + avatar + icon) --}}
      <div class="app-card"> 
        <h3 class="hca-typography--body-2">Single line list specs (text + avatar + icon)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">60px</span>
                </p>
                <p class="hca-typography--body-2">Avatar Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Icon Padding:
                  <span class="hca-typography--body-1">Right padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text-icon-avatar.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text, icon, and avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}  

    </section>
    {{!-- / single line lists section --}}


    <hr>


    {{!-- two line lists specs --}}
    <section id="section-two-line-lists" class="app-section">
      <div class="app-card">        
        <h2 class="hca-typography--title">Two Line Lists</h2>

        {{!-- two line lists specs (text only) --}}
        <h3 class="hca-typography--body-2">Two line list specs (text only)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Cadet (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">80px</span>
                </p>
                <p class="hca-typography--body-2">Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                  <span class="hca-typography--body-1">Right padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}



      {{!-- two line list (text only + icon) --}}
      <div class="app-card"> 
        <h3 class="hca-typography--body-2">Two line list specs (text only + icon)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Cadet (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">80px</span>
                </p>
                <p class="hca-typography--body-2">Icon Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text-icon.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text plus icon example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}  



      {{!-- Two line list (text only + avatar) --}}
      <div class="app-card"> 
        <h3 class="hca-typography--body-2">Two line list specs (text only + avatar)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Cadet (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">80px</span>
                </p>
                <p class="hca-typography--body-2">Avatar Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text plus avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}  



      {{!-- Two line list (text only + icon + avatar) --}}
      <div class="app-card"> 
        <h3 class="hca-typography--body-2">Two line list specs (text only + icon + avatar)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Cadet (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">80px</span>
                </p>
                <p class="hca-typography--body-2">Avatar Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Icon Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text-icon-avatar.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text, icon, and avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}  

    </section>
    {{!-- / Two line lists section --}}


    <hr>


    {{!-- three line lists specs --}}
    <section id="section-three-line-lists" class="app-section">
      <div class="app-card">        
        <h2 class="hca-typography--title">Three Line Lists</h2>
        <h3 class="hca-typography--body-2">Three line list specs (text only)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">100px</span>
                </p>
                <p class="hca-typography--body-2">Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                  <span class="hca-typography--body-1">Right padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}



      {{!-- three line list specs (text + icon) --}}
      <div class="app-card">        
        <h3 class="hca-typography--body-2">Three line list specs (text + icon)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">100px</span>
                </p>
                <p class="hca-typography--body-2"> Icon Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2"> Text Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text-icon.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text plus icon example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}



      {{!-- three line list specs (text + avatar) --}}
      <div class="app-card">        
        <h3 class="hca-typography--body-2">Three line list specs (text + avatar)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">100px</span>
                </p>
                <p class="hca-typography--body-2">Avatar Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text plus avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}



      {{!-- three line list specs (text + icon + avatar) --}}
      <div class="app-card">        
        <h3 class="hca-typography--body-2">Three line list specs (text + icon + avatar)</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="app-card hca-background--geyser">
              <div class="hca-layout__container--body-content">
                <p class="hca-typography--body-2">Font:
                  <span class="hca-typography--body-1">Open Sans Regular 16px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#1F2532)</span>
                </p>
                <p class="hca-typography--body-2">Secondary Font:
                  <span class="hca-typography--body-1">Open Sans Regular 14px</span>
                  <span class="hca-typography--body-1">Color: Asphalt (#465561)</span>
                </p>
                <p class="hca-typography--body-2">Row height:
                  <span class="hca-typography--body-1">100px</span>
                </p>
                <p class="hca-typography--body-2">Avatar Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Icon Padding:
                  <span class="hca-typography--body-1">Left padding: 20px</span>
                </p>
                <p class="hca-typography--body-2">Text Padding:
                  <span class="hca-typography--body-1">Left padding: 60px</span>
                </p>
                <p class="hca-typography--body-2">Margin:
                  <span class="hca-typography--body-1">Top margin: 10px</span>
                  <span class="hca-typography--body-1">Bottom margin: 10px</span>
                </p>
                <p class="hca-typography--body-2">Text Positioning:
                  <span class="hca-typography--body-1">Centered Vertically</span>
                </p>
              </div>              
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text-icon-avatar.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text, icon, and avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
      </div>
      {{!-- /app-card --}}

    </section>
    {{!-- / three line lists section --}}

   

  </div>
  {{!-- end specs tab panel --}}

  <div role="tabpanel" class="tab-pane" id="hca-styleguide-code-tab">Coming soon.</div>
  {{!-- end code tab panel --}}

</div>
{{!-- /tab-content --}}
