---
layout: default.hbs
title: Lists
base_url: '../../'
---

<!-- body_class: 'hca-background--white' -->




<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">


  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">A list consists of a single continuous column of equal-width rows that do not have any gaps or spaces between them. These rows repeat vertically and serve as containers for tiles.</p>
            <p class="hca-typography--body-1">Tiles hold content, and can vary in height within a list.</p>
            <p class="hca-typography--body-1">Lists are best suited to presenting data of the same kind or sets of data types, such as images and text. They are optimized for reading comprehension while differentiating between similar data types.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/lists/lists-visual-wireframe.png" class="img-responsive hca-visual-example__comp" alt="A visual wireframe of a list, showing what a tile and panel are." />
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/components/lists/lists-visual-example.png" class="img-responsive hca-visual-example__comp" alt="A visual example of a list." />
            <figcaption class="hca-visual-example__caption hca-typography--caption">A list of doctors</figcaption>
          </figure>
        </div>
      </div>
    </section>

  </div>
  {{!-- / Usage tab panel --}}



  {{!-- SPECS TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-4">
        <ul class="app-toc">
          <h2 class="hca-typography--subhead">Specs:</h2>
          <li class="app-toc__item"><a href="#section-single-line-lists">Single Line Lists</a></li>
          <li class="app-toc__item"><a href="#section-two-line-lists">Two Line Lists</a></li>
          <li class="app-toc__item"><a href="#section-three-line-lists">Three Line Lists</a></li>
        </ul>
      </div>
      </div>
    </section>

    {{!-- single line lists specs --}}
    <section id="section-single-line-lists" class="app-section">
        <h2 class="hca-typography--title">Single Line Lists</h2>
        {{!-- single line list (text only) --}}
        <h3 class="hca-typography--body-2">Single line list specs (text only)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 50px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- single line list (text + icon) --}}
        <h3 class="hca-typography--body-2">Single line list specs (text + icon)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 60px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Container Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Height:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically and horizontally centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text-icon.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text plus icon example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}


      {{!-- single line list (text + avatar) --}}
        <h3 class="hca-typography--body-2">Single line list specs (text + avatar)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 60px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text plus avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}


      {{!-- single line list (text + avatar + icon) --}}
        <h3 class="hca-typography--body-2">Single line list specs (text + avatar + icon)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 60px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar (left side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Icon (right side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Left:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Right aligned, Vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/single-line-list-text-icon-avatar.png" class="img-responsive hca-visual-example__comp" alt="A single line list with text, icon, and avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}

    </section>
    {{!-- / single line lists section --}}

    <hr>

    {{!-- two line lists specs --}}
    <section id="section-two-line-lists" class="app-section">
        <h2 class="hca-typography--title">Two Line Lists</h2>

        {{!-- two line lists specs (text only) --}}
        <h3 class="hca-typography--body-2">Two line list specs (text only)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 80px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- two line list (text only + icon) --}}
        <h3 class="hca-typography--body-2">Two line list specs (text + icon)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 80px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Icon (left side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Container Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Height:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically and horizontally centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text-icon.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text plus icon example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- Two line list (text only + avatar) --}}
        <h3 class="hca-typography--body-2">Two line list specs (text + avatar)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 80px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar (left side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text plus avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- Two line list (text only + icon + avatar) --}}
        <h3 class="hca-typography--body-2">Two line list specs (text only + icon + avatar)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 80px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar (left side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Icon (right side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Left:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Right aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/two-line-list-text-icon-avatar.png" class="img-responsive hca-visual-example__comp" alt="A two line list with text, icon, and avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}

    </section>
    {{!-- / Two line lists section --}}


    <hr>


    {{!-- three line lists specs --}}
    <section id="section-three-line-lists" class="app-section">
        <h2 class="hca-typography--title">Three Line Lists</h2>
        <h3 class="hca-typography--body-2">Three line list specs (text only)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 100px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- three line list specs (text + icon) --}}
        <h3 class="hca-typography--body-2">Three line list specs (text + icon)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 100px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Icon</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Container Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Icon Height:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Vertically and horizontally centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text-icon.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text plus icon example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- three line list specs (text + avatar) --}}
        <h3 class="hca-typography--body-2">Three line list specs (text + avatar)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 100px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> white }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Row on Focus/Hover</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Background color:</span> {{> geyser }} at 30% opacity
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar (left side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text-avatar.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text plus avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}



      {{!-- three line list specs (text + icon + avatar) --}}
        <h3 class="hca-typography--body-2">Three line list specs (text + icon + avatar)</h3>
        <div class="row">
          <div class="col-sm-5">
            <div class="app-card hca-specs">
              <span class="hca-typography--body-2">Row</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 100px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Padding - Left and Right :</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Avatar (left side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Width and Height:</span> 30px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Right:</span> 10px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Left aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Primary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 16px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> asphalt }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Secondary Text</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Font Size:</span> 14px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Font Weight:</span> Regular (400)
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Text Color:</span> {{> cadet }}
                </li>
              </ul>
              <span class="hca-typography--body-2">Icon (right side)</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 22px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Margin Left:</span> 20px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Alignment:</span> Right aligned, vertically centered
                </li>
              </ul>
              <span class="hca-typography--body-2">Divider</span>
              <ul class="hca-typography--body-1">
                <li>
                  <span class="hca-typography__color--asphalt">Color:</span> {{> geyser }}
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Height:</span> 1px
                </li>
                <li>
                  <span class="hca-typography__color--asphalt">Width:</span> Full-bleed
                </li>
              </ul>
            </div>
          </div>
          {{!-- / col-*-* text content --}}
          <div class="col-sm-7 text-center">
            <div class="row">
              <div class="col-sm-8 text-center">
                <div class="app-l-padding-top-2em">
                  <figure class="hca-visual-example">
                    <img src="{{page.base_url}}images/components/lists/three-line-list-text-icon-avatar.png" class="img-responsive hca-visual-example__comp" alt="A three line list with text, icon, and avatar example." />
                  </figure>
                </div>
              </div>
            </div>
          </div>
          {{!-- /col-*-* visual examples --}}
        </div>
        {{!-- /row --}}
    </section>
    {{!-- / three line lists section --}}



  </div>
  {{!-- end specs tab panel --}}

  <div role="tabpanel" class="tab-pane" id="app-code-tab">Coming soon.</div>
  {{!-- end code tab panel --}}

</div>
{{!-- /tab-content --}}

{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/dividers/" class="hca-button hca-button--has-icon-left">Back to Dividers <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/tabs/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Snackbars <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
