---
layout: no-tabs.hbs
title: Elevation
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">
  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="hca-styleguide-usage-tab">
    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">
              HCA Design System uses shadows to visualize elevation within a digital experience. These elevation states help provide a visual hierarchy to the many elements and components your experience may include. They give important visual cues for object depth and directional movement.</p>

            <p class="hca-typography--subhead hca-typography__color--asphalt">There are five levels of elevation. Level 0 is the lowest (no elevation) and Level 4 is the highest.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-elevation-specs">Elevation Specs</a></li>
            <li class="app-toc__item"><a href="#section-elevation-usage">Elevation Usage</a></li>
            {{!-- <li class="app-toc__item"><a href="#section-elevation-and-interaction">Interaction</a></li> --}}
          </ul>
        </div>
      </div>
    </section>

    <article id="section-elevation-specs" class="app-section">
      <h1 class="app-article-headline hca-typography--headline">Elevation Specs</h1>
      <div class="row">
        <div class="col-sm-4">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/essentials/elevation/level-0-box.png" class="img-responsive hca-visual-example__comp" alt="Elevation Level 0" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">
              <span class="hca-typography--body-2">Level 0: No Elevation</span>
              No Shadow
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/essentials/elevation/level-1-box.png" class="img-responsive hca-visual-example__comp" alt="Elevation Level 1" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">
              <span class="hca-typography--body-2">Level 1: Low Elevation</span>
              {{> elevation-level-1}}
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/essentials/elevation/level-2-box.png" class="img-responsive hca-visual-example__comp" alt="Elevation Level 2" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">
              <span class="hca-typography--body-2">Level 2: Mid Elevation</span>
              {{> elevation-level-2}}
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/essentials/elevation/level-3-box.png" class="img-responsive hca-visual-example__comp" alt="Elevation Level 3" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">
              <span class="hca-typography--body-2">Level 3: Upper Elevation</span>
              {{> elevation-level-3}}
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="hca-visual-example">
            <img src="{{page.base_url}}images/essentials/elevation/level-4-box.png" class="img-responsive hca-visual-example__comp" alt="Elevation Level 4" />
            <figcaption class="hca-visual-example__caption hca-typography--caption">
              <span class="hca-typography--body-2">Level 4: Top Elevation</span>
              {{> elevation-level-4}}
            </figcaption>
          </figure>
        </div>
      </div>
    </article>

    <article id="section-elevation-usage">
      <section class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Elevation Usage</h1>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-typography__container--body-content">
              <p class="hca-typography--body-1">All throughout this guide you will see elements and components spec'd with reference to the elevation level it sits and interacts. Below are some brief examples of some common components and the levels at which they sit and interact.</p>
            </div>
          </div>
        </div>
        <h2 class="hca-typography--title">Level 4: Top Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <span class="hca-typography--body-2">Elements/Components you may see at this level:</span>
              <ul>
                <li>Dialogs</li>
                <li>Navigation Drawers</li>
                <li>Snackbars</li>
              </ul>

              <br /><br />
              <div class="app-card hca-specs">
                <span class="hca-typography--body-2">Spec</span>
                <p class="hca-typography--body-1">{{> elevation-level-4}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-4-dialogs.png" class="img-responsive hca-visual-example__comp" alt="A dialog sitting at Top Elevation on Level 4." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Dialog sitting at Top Elevation on Level 4.</figcaption>
            </figure>
          </div>
        </div>

        <div class="app-section">
          <h2 class="hca-typography--title">Level 3: Upper Elevation</h2>
          <div class="row">
            <div class="col-sm-5">
              <div class="hca-layout__container--body-content">
                <span class="hca-typography--body-2">Elements/Components you may see at this level:</span>
                <ul>
                  <li>App Bar</li>
                  <li>Bottom Bar</li>
                  <li>Floating Action Button</li>
                </ul>

                <br /><br />
                <div class="app-card hca-specs">
                  <span class="hca-typography--body-2">Spec</span>
                  <p class="hca-typography--body-1">{{> elevation-level-3}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/essentials/elevation/level-3-navigation.png" class="img-responsive hca-visual-example__comp" alt="An App Bar sitting at Upper Elevation on Level 3." />
                <figcaption class="hca-visual-example__caption hca-typography--caption">App Bar sitting at Upper Elevation on Level 3, and some Cards sitting at Low Elevation on Level 1.</figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="app-section">
          <h2 class="hca-typography--title">Level 2: Mid Elevation</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="hca-layout__container--body-content">
                <span class="hca-typography--body-2">Elements/Components you may see at this level:</span>
                <ul>
                  <li>Card (on Focus/Hover)</li>
                  <li>Raised Button (on Press)</li>
                </ul>

                <br /><br />
                <div class="app-card hca-specs">
                  <span class="hca-typography--body-2">Spec</span>
                  <p class="hca-typography--body-1">{{> elevation-level-2}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <figure class="hca-visual-example">
                <img src="{{page.base_url}}images/essentials/elevation/level-2-card-hover.png" class="img-responsive hca-visual-example__comp" alt="A Card on focus/hover at Mid Elevation on Level 2" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Card on focus/hover at Mid Elevation on Level 2</figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="app-section">
          <h2 class="hca-typography--title">Level 1: Low Elevation</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="hca-layout__container--body-content">
                <span class="hca-typography--body-2">Elements/Components you may see at this level:</span>
                <ul>
                  <li>Card (Resting state)</li>
                  <li>Raised Button (on Focus/Hover)</li>
                  <li>Menu</li>
                </ul>

                <br /><br />
                <div class="app-card hca-specs">
                  <span class="hca-typography--body-2">Spec</span>
                  <p class="hca-typography--body-1">{{> elevation-level-1}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <figure class="hca-visual-example hca-visual-example--mobile">
                <img src="{{page.base_url}}images/essentials/elevation/level-1-raised-button-hover.png" class="img-responsive hca-visual-example__comp" alt="A Raised Button on focus/hover at Low Elevation on Level 1" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Raised Button on focus/hover at Low Elevation on Level 1</figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="app-section">
          <h2 class="hca-typography--title">Level 0: No Elevation</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="hca-layout__container--body-content">
                <span class="hca-typography--body-2">Elements/Components you may see at this level:</span>
                <ul>
                  <li>Text</li>
                  <li>Raised Button (Resting state)</li>
                  <li>Flat Button</li>
                  <li>Controls</li>
                  <li>Text Fields</li>
                </ul>

                <br /><br />
                <div class="app-card hca-specs">
                  <span class="hca-typography--body-2">Spec</span>
                  <p class="hca-typography--body-1">No Shadow</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <figure class="hca-visual-example hca-visual-example--mobile">
                <img src="{{page.base_url}}images/essentials/elevation/level-0-text-field.png" class="img-responsive hca-visual-example__comp" alt="Text Field with no elevation" />
                <figcaption class="hca-visual-example__caption hca-typography--caption">Text Field with no elevation</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      {{!-- / elevation-levels section --}}

      {{!-- elevation-and-interaction section --}}
      {{!-- <section id="section-elevation-and-interaction" class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Interaction</h1>
        <div class="row">
          <div class="col-sm-4">
            <h2 class="hca-typography--title">Buttons</h2>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/tbd.gif" class="img-responsive hca-visual-example__comp" alt="Button interaction going from Level 0 to Level 1"  />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Button interaction going from Level 0 to Level 1</figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <h2 class="hca-typography--title">Cards</h2>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/tbd.gif" class="img-responsive hca-visual-example__comp" alt="Card interaction going from Level 1 to Level 2" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Card interaction going from Level 1 to Level 2</figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <h2 class="hca-typography--title">Dialogs</h2>
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/tbd.gif" class="img-responsive hca-visual-example__comp" alt="Dialog interaction opening to Level 4" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Dialog interaction opening to Level 4</figcaption>
            </figure>
          </div>
        </div>
      </section> --}}
      {{!-- / elevation-and-interaction section --}}
    </article>
  </div>

</div>
{{!-- /tab-content --}}





<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}essentials/iconography/" class="hca-button hca-button--has-icon-left">Back to Iconography <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/buttons/" class="hca-button hca-button--has-icon-right hca-typography__color--night">Next: Buttons <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
