---
layout: default.hbs
title: Elevation
base_url: '../../'
---





<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">


  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="hca-styleguide-usage-tab">


    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Elevation provides visual hierarchy. Shadows give important visual cues for object depth and directional movement. An object’s elevation determines the appearance of its shadow. There are five levels of elevation. Level 0 is the lowest (no elevation) and Level 4 is the highest.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Topics on this tab:</h2>
            <li class="app-toc__item"><a href="#section-elevation-levels">Elevation Levels</a></li>
            <li class="app-toc__item"><a href="#section-elevation-and-interaction">Elevation and Interaction</a></li>
            <li class="app-toc__item"><a href="#section-specs">Specs</a></li>
          </ul>
        </div>
      </div>
    </section>

    <article>

      {{!-- elevation-levels section --}}
      <section id="article-elevation-levels" class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Elevation Levels</h1>
        <h2 class="hca-typography--title">Level 4: Top Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Dialogs</li>
                <li>Modals</li>
                <li>Navigation Drawers</li>
                <li>Snackbars</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-4-dialogs.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 4 elevation: Dialog</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 3: Upper Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Main Navigation</li>
                <li>Bottom Navigation</li>
                <li>FAB (Floating Action Button)</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-3-navigation.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 3 elevation: Navigation</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 2: Mid Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Card (Hover)</li>
                <li>Raised Button (Pressed)</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-2-card-hover.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="400px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 2 elevation: Card hover state</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 1: Low Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Card (Resting state)</li>
                <li>Raised Button (Hover)</li>
                <li>Menu</li>
                <li>Submenu</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-1-raised-button-hover.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="200px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 1 elevation: Raised button hover state</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 0: No Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Raised Button (Resting state)</li>
                <li>Text</li>
                <li>Flat Button (All interaction states)</li>
                <li>Control</li>
                <li>Text Field</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-0-text-field.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="300px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 0 elevation: Text Field</figcaption>
            </figure>
          </div>
        </div>
      </section>
      {{!-- / elevation-levels section --}}

      {{!-- elevation-and-interaction section --}}
      <section id="section-elevation-and-interaction" class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Elevation and Interaction</h1>
        <h2 class="hca-typography--title">Buttons</h2>
        <div class="row">
          <div class="col-sm-4">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/raised-button.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Raised button resting state</figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/raised-button-hover.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Raised button hover state (Level 1)</figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/raised-button-pressed.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Raised button pressed state (Level 2)</figcaption>
            </figure>
          </div>
        </div>
      </section>
      {{!-- / level-0 section --}}
    </article>

    <hr />

    <article id="article-specs">
      <h1 class="app-article-headline hca-typography--headline">Specs</h1>

      {{!-- <span class="hca-typography--title">Specs</span> --}}
      <div class="hca-specs table-responsive">
        <table class="table">
          <thead class="">
            <th></th>
            <th class="">Font Size</th>
            <th class="">Font Weight</th>
            <th class="">Line Height</th>
            <th class="">Color</th>
            <th class="">Bottom Padding</th>
          </thead>
          <tbody>
            <tr>
              <th class="">Display 4</th>
              <td class="">112px</td>
              <td class="">Light (300)</td>
              <td class="">140px (1.25)</td>
              <td class="">{{> cadet}}</td>
              <td class="">25px</td>
            </tr>
            <tr>
              <th class="">Display 3</th>
              <td class="">56px</td>
              <td class="">Regular (400)</td>
              <td class="">70px (1.25)</td>
              <td class="">{{> cadet}}</td>
              <td class="">25px</td>
            </tr>
            <tr>
              <th class="">Display 2</th>
              <td class="">45px</td>
              <td class="">Regular (400)</td>
              <td class="">50px (1.11)</td>
              <td class="">{{> cadet}}</td>
              <td class="">25px</td>
            </tr>
            <tr>
              <th class="">Display 1</th>
              <td class="">34px</td>
              <td class="">Regular (400)</td>
              <td class="">40px (1.18)</td>
              <td class="">{{> asphalt }}</td>
              <td class="">17px</td>
            </tr>
            <tr>
              <th class="">Headline</th>
              <td class="">26px</td>
              <td class="">Regular (400)</td>
              <td class="">32px (1.23)</td>
              <td class="">{{> cadet}}</td>
              <td class="">10px</td>
            </tr>
            <tr>
              <th class="">Title</th>
              <td class="">22px</td>
              <td class="">Semibold (600)</td>
              <td class="">32px (1.45)</td>
              <td class="">{{> asphalt}}</td>
              <td class="">10px</td>
            </tr>
            <tr>
              <th class="">Subhead</th>
              <td class="">18px</td>
              <td class="">Regular (400)</td>
              <td class="">27px (1.5)</td>
              <td class="">{{> cadet}}</td>
              <td class="">3px</td>
            </tr>
            <tr>
              <th class="">Body 2</th>
              <td class="">16px</td>
              <td class="">Semibold (600)</td>
              <td class="">26px (1.625)</td>
              <td class="">{{> asphalt}}</td>
              <td class="">5px</td>
            </tr>
            <tr>
              <th class="">Body 1</th>
              <td class="">16px</td>
              <td class="">Regular (400)</td>
              <td class="">26px (1.625)</td>
              <td class="">{{> cadet}}</td>
              <td class="">10px</td>
            </tr>
            <tr>
              <th class="">Caption</th>
              <td class="">14px</td>
              <td class="">Regular (400)</td>
              <td class="">22px (1.57)</td>
              <td class="">{{> cadet}}</td>
              <td class="">0</td>
            </tr>
            <tr>
              <th class="">Support</th>
              <td class="">12px</td>
              <td class="">Semibold (600)</td>
              <td class="">20px (1.67)</td>
              <td class="">{{> cadet}}</td>
              <td class="">0</td>
            </tr>
          </tbody>
        </table>
      </div>
      {{!-- / hca-specs --}}
    </article>




  </div>
  {{!-- end specs tab panel --}}
  <div role="tabpanel" class="tab-pane" id="hca-styleguide-code-tab">Coming soon.</div>
  {{!-- end code tab panel --}}

</div>
{{!-- /tab-content --}}
