---
layout: default.hbs
title: Elevation
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">
  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="hca-styleguide-usage-tab">
    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Elevation provides visual hierarchy. Shadows give important visual cues for object depth and directional movement. An object’s elevation determines the appearance of its shadow. There are five levels of elevation. Level 0 is the lowest (no elevation) and Level 4 is the highest.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Topics on this tab:</h2>
            <li class="app-toc__item"><a href="#section-elevation-levels">Elevation Levels</a></li>
            <li class="app-toc__item"><a href="#section-elevation-and-interaction">Elevation and Interaction</a></li>
          </ul>
        </div>
      </div>
    </section>

    <article>
      {{!-- elevation-levels section --}}
      <section id="article-elevation-levels" class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Elevation Levels</h1>
        <h2 class="hca-typography--title">Level 4: Top Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Dialogs</li>
                <li>Modals</li>
                <li>Navigation Drawers</li>
                <li>Snackbars</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-4-dialogs.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 4 elevation: Dialog</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 3: Upper Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Main Navigation</li>
                <li>Bottom Navigation</li>
                <li>FAB (Floating Action Button)</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-3-navigation.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 3 elevation: Navigation</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 2: Mid Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Card (Hover)</li>
                <li>Raised Button (Pressed)</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-2-card-hover.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="400px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 2 elevation: Card hover state</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 1: Low Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Card (Resting state)</li>
                <li>Raised Button (Hover)</li>
                <li>Menu</li>
                <li>Submenu</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-1-raised-button-hover.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="200px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 1 elevation: Raised button hover state</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 0: No Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <ul>
                <li>Raised Button (Resting state)</li>
                <li>Text</li>
                <li>Flat Button (All interaction states)</li>
                <li>Control</li>
                <li>Text Field</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-0-text-field.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="300px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 0 elevation: Text Field</figcaption>
            </figure>
          </div>
        </div>
      </section>
      {{!-- / elevation-levels section --}}

      {{!-- elevation-and-interaction section --}}
      <section id="section-elevation-and-interaction" class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Elevation and Interaction</h1>
        <h2 class="hca-typography--title">Buttons</h2>
        <div class="row">
          <div class="col-sm-4">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/raised-button.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." style="max-width:200px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Raised button resting state</figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/raised-button-hover.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." style="max-width:200px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Raised button hover state (Level 1)</figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/raised-button-pressed.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." style="max-width:200px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Raised button pressed state (Level 2)</figcaption>
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Cards</h2>
        <div class="row">
          <div class="col-sm-6">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/card-resting-state.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="310px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Card resting state (Level 2)</figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/card-hover-state.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." width="310px" />
              <figcaption class="hca-visual-example__caption hca-typography--caption">Card hover state (Level 2)</figcaption>
            </figure>
          </div>
        </div>
      </section>
      {{!-- / elevation-and-interaction section --}}
    </article>
  </div>

  {{!-- SPECS TAB --}}
  <div role="tabpanel" class="tab-pane" id="hca-styleguide-styles-tab">
    <article>
      {{!-- elevation-and-interaction section --}}
      <section id="section-elevation-and-interaction" class="app-section">
        <h1 class="app-article-headline hca-typography--headline">Specs</h1>
        <h2 class="hca-typography--title">Level 4: Top Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <dl>
                <dt>Shadow:</dt>
                <dd>0 16px 30px 0 rgba(31, 37, 50, 0.5)</dd>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-4-box.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 4 elevation: Dialog</figcaption> --}}
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 3: Upper Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <dl>
                <dt>Shadow:</dt>
                <dd>0 10px 16px 0 rgba(6, 28, 63, 0.15)</dd>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-3-box.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 3 elevation: Navigation</figcaption> --}}
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 2: Mid Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <dl>
                <dt>Shadow:</dt>
                <dd>0 6px 12px 0 rgba(6, 28, 63, 0.2)</dd>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-2-box.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 2 elevation: Card hover state</figcaption> --}}
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 1: Low Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <dl>
                <dt>Shadow:</dt>
                <dd>0 2px 4px 0 rgba(6, 28, 63, 0.2)</dd>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-1-box.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 1 elevation: Raised button hover state</figcaption> --}}
            </figure>
          </div>
        </div>

        <h2 class="hca-typography--title">Level 0: No Elevation</h2>
        <div class="row">
          <div class="col-sm-5">
            <div class="hca-layout__container--body-content">
              <dl>
                <dt>Shadow:</dt>
                <dd>None</dd>
              </ul>
            </div>
          </div>
          <div class="col-sm-7">
            <figure class="hca-visual-example">
              <img src="{{page.base_url}}images/essentials/elevation/level-0-box.png" class="img-responsive hca-visual-example__comp" alt="A message should be communicated completely without color." />
              {{!-- <figcaption class="hca-visual-example__caption hca-typography--caption">Example of Level 0 elevation: Text Field</figcaption> --}}
            </figure>
          </div>
        </div>
      </section>
      {{!-- / elevation-and-interaction section --}}
    </article>
  </div>
  {{!-- end specs tab panel --}}
  <div role="tabpanel" class="tab-pane" id="hca-styleguide-code-tab">Coming soon.</div>
  {{!-- end code tab panel --}}
</div>
{{!-- /tab-content --}}
